<template>
    <div class="footerbox">
    <footer class="rounded-2xl bg-gradient-to-r from-gray-700 via-gray-900 to-black text-center text-white">
  <div class="container px-6 pt-6">
    <div class="mb-6 flex justify-center">
      <a
        href="https://www.facebook.com/shongshoydotcom"
        type="button"
        class="m-1 h-9 w-9 rounded-full border-2 border-white uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
        data-te-ripple-init
        data-te-ripple-color="light">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mx-auto h-full w-4"
          fill="currentColor"
          viewBox="0 0 24 24">
          <path
            d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z" />
        </svg>
      </a>

      <a
        href="https://twitter.com/iamasifm"
        type="button"
        class="m-1 h-9 w-9 rounded-full border-2 border-white uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
        data-te-ripple-init
        data-te-ripple-color="light">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mx-auto h-full w-4"
          fill="currentColor"
          viewBox="0 0 24 24">
          <path
            d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z" />
        </svg>
      </a>

      </div>

    <div class="mb-6">
      <p>
        “সংশয় – চিন্তার মুক্তির আন্দোলন” একটি অলাভজনক ওয়েবসাইট। পাঠকদের বুদ্ধিবৃত্তিক বিতর্ক এবং আলোচনাকে উৎসাহিত করার উদ্দেশ্যে তৈরি করা। বাঙলাদেশ সরকার কর্তৃক ইতিমধ্যে আমাদের অনেক লেখক এবং গোটা ওয়েবসাইটই নিষিদ্ধ ঘোষিত হয়েছে। যা আমাদের জন্য গর্বের, সম্মানের এবং আনন্দের। অসংখ্য আক্রমণ এবং রাজনৈতিক নির্যাতনের পরেও, জেল জুলুম এবং মামলার পরেও আমরা লিখে যাচ্ছি- সত্য, যুক্তি এবং মুক্তচিন্তা প্রসারের স্বার্থে। আপনাদের সহযোগিতা আমাদের কাম্য। অনুগ্রহ করে ওয়েবসাইটটি বন্ধুদের সাথে শেয়ার করুন। অলাভজনক ওয়েবসাইট হওয়ার কারণে আমাদের সামর্থ্য সীমিত। ডোনেশন পাঠাতে চাইলে পেপ্যাল দিয়ে এই ঠিকানায় পাঠানঃ info@shongshoy.com
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-4">
      <div class="mb-6">
        <h5 class="mb-2.5 font-bold uppercase">যুক্তিবাদ</h5>

        <ul class="mb-0 list-none">
          <li>
            <a href="/%e0%a6%95%e0%a7%81%e0%a6%af%e0%a7%81%e0%a6%95%e0%a7%8d%e0%a6%a4%e0%a6%bf-%e0%a6%ac%e0%a6%be-%e0%a6%ab%e0%a7%8d%e0%a6%af%e0%a6%be%e0%a6%b2%e0%a6%be%e0%a6%b8%e0%a6%bf/" class="text-white">বহুল প্রচলিত কিছু কুযুক্তি</a>
          </li>
          <li>
            <a href="/%e0%a6%a8%e0%a6%be%e0%a6%9f%e0%a6%95-%e0%a6%b6%e0%a7%9f%e0%a6%a4%e0%a6%be%e0%a6%a8%e0%a7%87%e0%a6%b0-%e0%a6%9c%e0%a6%ac%e0%a6%be%e0%a6%a8%e0%a6%ac%e0%a6%a8%e0%a7%8d%e0%a6%a6%e0%a6%bf/" class="text-white">নাটকঃ শয়তানের জবানবন্দি</a>
          </li>
          <li>
            <a href="/%e0%a6%87%e0%a6%b8%e0%a6%b2%e0%a6%be%e0%a6%ae%e0%a7%87-%e0%a6%a4%e0%a6%be%e0%a6%95%e0%a6%a6%e0%a7%80%e0%a6%b0/" class="text-white">তাকদীর প্রসঙ্গে</a>
          </li>
          <li>
            <a href="/%e0%a6%87%e0%a6%b8%e0%a6%b2%e0%a6%be%e0%a6%ae-%e0%a6%95%e0%a6%bf-%e0%a6%af%e0%a6%be%e0%a6%9a%e0%a6%be%e0%a6%87-%e0%a6%95%e0%a6%b0%e0%a6%be%e0%a6%b0-%e0%a6%b8%e0%a7%81%e0%a6%af%e0%a7%8b%e0%a6%97/" class="text-white">ইসলামকে যাচাই করা</a>
          </li>
        </ul>
      </div>

      <div class="mb-6">
        <h5 class="mb-2.5 font-bold uppercase">মুহাম্মদ সম্পর্কিত</h5>

        <ul class="mb-0 list-none">
          <li>
            <a href="/%e0%a6%a8%e0%a6%ac%e0%a7%80-%e0%a6%ae%e0%a7%81%e0%a6%b9%e0%a6%be%e0%a6%ae%e0%a7%8d%e0%a6%ae%e0%a6%a6-%e0%a6%95%e0%a6%bf-%e0%a6%b8%e0%a6%b0%e0%a7%8d%e0%a6%ac%e0%a6%95%e0%a6%be%e0%a6%b2%e0%a7%87/" class="text-white">সর্বকালের সর্বশ্রেষ্ঠ মানুষ</a>
          </li>
          <li>
            <a href="/%e0%a6%86%e0%a7%9f%e0%a6%bf%e0%a6%b6%e0%a6%be%e0%a6%b0-%e0%a6%ac%e0%a6%be%e0%a6%b2%e0%a7%8d%e0%a6%af%e0%a6%ac%e0%a6%bf%e0%a6%ac%e0%a6%be%e0%a6%b9/" class="text-white">আয়িশা বাল্যবিবাহ</a>
          </li>
          <li>
            <a href="/%e0%a6%89%e0%a6%ae%e0%a7%8d%e0%a6%ae%e0%a7%87-%e0%a6%b9%e0%a6%be%e0%a6%a8%e0%a7%80-%e0%a6%ae%e0%a7%81%e0%a6%b9%e0%a6%be%e0%a6%ae%e0%a7%8d%e0%a6%ae%e0%a6%a6/" class="text-white">উম্মে হানী</a>
          </li>
          <li>
            <a href="/%e0%a6%ae%e0%a7%81%e0%a6%b9%e0%a6%be%e0%a6%ae%e0%a7%8d%e0%a6%ae%e0%a6%a6%e0%a7%87%e0%a6%b0-%e0%a6%ae%e0%a7%83%e0%a6%a4%e0%a7%8d%e0%a6%af%e0%a7%81/" class="text-white">মুহাম্মদের করুণ মৃত্যু</a>
          </li>
        </ul>
      </div>

      <div class="mb-6">
        <h5 class="mb-2.5 font-bold uppercase">দাবীর উত্তর</h5>

        <ul class="mb-0 list-none">
          <li>
            <a href="/%e0%a6%95%e0%a7%8b%e0%a6%b0%e0%a6%86%e0%a6%a8-%e0%a6%b8%e0%a6%82%e0%a6%95%e0%a6%b2%e0%a6%a8-%e0%a6%aa%e0%a6%b0%e0%a6%bf%e0%a6%ae%e0%a6%be%e0%a6%b0%e0%a7%8d%e0%a6%9c%e0%a6%a8/" class="text-white">পরিমার্জনের ইতিহাস</a>
          </li>
          <li>
            <a href="/%e0%a6%b6%e0%a7%9f%e0%a6%a4%e0%a6%be%e0%a6%a8%e0%a7%87%e0%a6%b0-%e0%a6%86%e0%a7%9f%e0%a6%be%e0%a6%a4-%e0%a6%ac%e0%a6%be-%e0%a6%b8%e0%a7%8d%e0%a6%af%e0%a6%be%e0%a6%9f%e0%a6%be%e0%a6%a8%e0%a6%bf/" class="text-white">শয়তানের আয়াত</a>
          </li>
          <li>
            <a href="/%e0%a6%ae%e0%a7%81%e0%a6%b9%e0%a6%be%e0%a6%ae%e0%a7%8d%e0%a6%ae%e0%a6%a6%e0%a6%87-%e0%a6%95%e0%a6%bf-%e0%a6%95%e0%a6%b2%e0%a7%8d%e0%a6%95%e0%a6%bf-%e0%a6%85%e0%a6%ac%e0%a6%a4%e0%a6%be%e0%a6%b0/" class="text-white">কল্কি অবতার?</a>
          </li>
          <li>
            <a href="/%e0%a6%87%e0%a6%b8%e0%a6%b2%e0%a6%be%e0%a6%ae-%e0%a6%93-%e0%a6%a8%e0%a6%be%e0%a6%b0%e0%a7%80/" class="text-white">নারীর সর্বোচ্চ সম্মান</a>
          </li>
        </ul>
      </div>

      <div class="mb-6">
        <h5 class="mb-2.5 font-bold uppercase">অমানবিক বিষয়</h5>

        <ul class="mb-0 list-none">
          <li>
            <a href="/%e0%a6%87%e0%a6%b8%e0%a6%b2%e0%a6%be%e0%a6%ae%e0%a7%87-%e0%a6%a6%e0%a6%be%e0%a6%b8%e0%a6%aa%e0%a7%8d%e0%a6%b0%e0%a6%a5%e0%a6%be/" class="text-white">অমানবিক দাসপ্রথা</a>
          </li>
          <li>
            <a href="/%e0%a6%b6%e0%a6%b0%e0%a6%bf%e0%a7%9f%e0%a6%be-%e0%a6%b0%e0%a6%be%e0%a6%b7%e0%a7%8d%e0%a6%9f%e0%a7%8d%e0%a6%b0%e0%a7%87-%e0%a6%85%e0%a6%ae%e0%a7%81%e0%a6%b8%e0%a6%b2%e0%a6%bf%e0%a6%ae/" class="text-white">অমুসলিমদের অধিকার</a>
          </li>
          <li>
            <a href="/%e0%a6%ae%e0%a7%82%e0%a6%b0%e0%a7%8d%e0%a6%a4%e0%a6%bf-%e0%a6%ad%e0%a6%be%e0%a6%99%e0%a7%8d%e0%a6%97%e0%a6%be%e0%a6%b0-%e0%a6%b8%e0%a7%81%e0%a6%a8%e0%a7%8d%e0%a6%a8%e0%a6%a4/" class="text-white">মূর্তি ভাঙ্গার সুন্নত</a>
          </li>
          <li>
            <a href="/%e0%a6%ac%e0%a6%a8%e0%a7%81-%e0%a6%95%e0%a7%81%e0%a6%b0%e0%a6%be%e0%a6%87%e0%a6%9c%e0%a6%be%e0%a6%b0-%e0%a6%97%e0%a6%a3%e0%a6%b9%e0%a6%a4%e0%a7%8d%e0%a6%af%e0%a6%be/" class="text-white">বনু কুরাইজার গণহত্যা</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div
    class="p-4 text-center"
    style="background-color: rgba(0, 0, 0, 0.2)">
    <a class="text-white" href="https://www.shongshoy.com/"
      >সংশয় – চিন্তার মুক্তির আন্দোলন</a
    > © 2023 Copyright
    
  </div>
</footer>

</div>
  </template>