<script lang="ts" setup>

  defineProps<{
    title?: string;
  }>();
</script>

<template>
  <section class="hero">
    <div class="container">
      <h1 v-if="title" class="text-4xl font-bold" v-html="title"></h1>
      <slot />
    </div>
  </section>
</template>

<style>
  .hero {
    @apply py-10 rounded-lg bg-[conic-gradient(at_top,_var(--tw-gradient-stops))] from-gray-900 via-gray-100 to-gray-900;
  }
</style>
