<script lang="ts" setup>
import colorGenerator from "~~/utils/colorGenerator";
useHead({
  title: "Categories",
  meta: [
    {
      name: "description",
      content: "Categories",
    },
  ],
});

const { data: categories } = await useWpApi().getCategories();
</script>
<template>
  <PageHeader title="Categories"> </PageHeader>
  <section class="py-10">
    <div class="container">
      <div class="flex flex-wrap gap-5">
        <NuxtLink
          v-for="category in categories"
          :key="(category as any).id"
          :to="`/categories/${(category as any).slug}`"
          class="flex items-center justify-center py-2 px-4 rounded text-white shadow-md hover:shadow-lg duration-200 text-2xl uppercase"
          :style="{ backgroundColor: colorGenerator() }"
        >
          <span class="font-semibold">#{{ (category as any).name }}</span>
        </NuxtLink>

      
      </div>
      <div
          class="rank-math-html-sitemap__section rank-math-html-sitemap__section--taxonomy rank-math-html-sitemap__section--category"
        >
          <h2 class="rank-math-html-sitemap__title">
            <span id="Categories">Categories</span>
          </h2>
          <ul class="rank-math-html-sitemap__list">
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/uncategorized/"
                class="rank-math-html-sitemap__link"
                >Uncategorized</a
              >
            </li>
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/propaganda/"
                class="rank-math-html-sitemap__link"
                >প্রোপাগান্ডা</a
              >
            </li>
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/pseudoscience/"
                class="rank-math-html-sitemap__link"
                >ছদ্মবিজ্ঞান</a
              >
            </li>
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/origin-of-life/"
                class="rank-math-html-sitemap__link"
                >জীবের উদ্ভব</a
              >
            </li>
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/rationalism/"
                class="rank-math-html-sitemap__link"
                >যুক্তিবাদ</a
              >
            </li>
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/sociology-of-religion/"
                class="rank-math-html-sitemap__link"
                >ধর্মের সমাজতত্ত্ব</a
              >
            </li>
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/psychology-of-religion/"
                class="rank-math-html-sitemap__link"
                >ধর্মের মনস্তত্ত্ব</a
              >
            </li>
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/philosophy/"
                class="rank-math-html-sitemap__link"
                >দর্শন</a
              >
            </li>
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/thoughts/"
                class="rank-math-html-sitemap__link"
                >স্বতন্ত্র ভাবনা</a
              >
            </li>
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/response/"
                class="rank-math-html-sitemap__link"
                >প্রতিক্রিয়া</a
              >
            </li>
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/religion/"
                class="rank-math-html-sitemap__link"
                >ধর্ম</a
              >
            </li>
            <ul class="rank-math-html-sitemap__list">
              <li class="rank-math-html-sitemap__item">
                <a
                  href="/categories/buddhism/"
                  class="rank-math-html-sitemap__link"
                  >বৌদ্ধ</a
                >
              </li>
              <li class="rank-math-html-sitemap__item">
                <a
                  href="/categories/christianity/"
                  class="rank-math-html-sitemap__link"
                  >খ্রিস্টান</a
                >
              </li>
              <li class="rank-math-html-sitemap__item">
                <a
                  href="/categories/hinduism/"
                  class="rank-math-html-sitemap__link"
                  >হিন্দুধর্ম</a
                >
              </li>
              <li class="rank-math-html-sitemap__item">
                <a
                  href="/categories/islam/"
                  class="rank-math-html-sitemap__link"
                  >ইসলাম</a
                >
              </li>
              <ul class="rank-math-html-sitemap__list">
                <li class="rank-math-html-sitemap__item">
                  <a
                    href="/categories/error-in-hadith/"
                    class="rank-math-html-sitemap__link"
                    >হাদিসের ভুল</a
                  >
                </li>
                <li class="rank-math-html-sitemap__item">
                  <a
                    href="/categories/error-in-quran/"
                    class="rank-math-html-sitemap__link"
                    >কোরআনের ভুল</a
                  >
                </li>
              </ul>
            </ul>
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/history/"
                class="rank-math-html-sitemap__link"
                >ইতিহাস</a
              >
            </li>
            <ul class="rank-math-html-sitemap__list">
              <li class="rank-math-html-sitemap__item">
                <a
                  href="/categories/religion-in-history/"
                  class="rank-math-html-sitemap__link"
                  >ইতিহাসে ধর্ম</a
                >
              </li>
              <li class="rank-math-html-sitemap__item">
                <a
                  href="/categories/religion-in-bengali-history/"
                  class="rank-math-html-sitemap__link"
                  >বাংলায় ধর্মের ইতিহাস</a
                >
              </li>
            </ul>
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/sticky-notes/"
                class="rank-math-html-sitemap__link"
                >স্টিকি</a
              >
            </li>
            <li class="rank-math-html-sitemap__item">
              <a href="/categories/satire/" class="rank-math-html-sitemap__link"
                >স্যাটায়ার</a
              >
            </li>
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/skepticism/"
                class="rank-math-html-sitemap__link"
                >সংশয়বাদ</a
              >
            </li>
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/editorial/"
                class="rank-math-html-sitemap__link"
                >সম্পাদকীয়</a
              >
            </li>
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/human-rights/"
                class="rank-math-html-sitemap__link"
                >মানবাধিকার</a
              >
            </li>
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/science/"
                class="rank-math-html-sitemap__link"
                >বিজ্ঞান</a
              >
            </li>
            <ul class="rank-math-html-sitemap__list">
              <li class="rank-math-html-sitemap__item">
                <a
                  href="/categories/big-bang/"
                  class="rank-math-html-sitemap__link"
                  >বৃহৎ সম্প্রসারণ</a
                >
              </li>
              <li class="rank-math-html-sitemap__item">
                <a
                  href="/categories/archeology/"
                  class="rank-math-html-sitemap__link"
                  >আর্কিওলজি</a
                >
              </li>
              <li class="rank-math-html-sitemap__item">
                <a
                  href="/categories/genetics/"
                  class="rank-math-html-sitemap__link"
                  >জেনেটিক্স</a
                >
              </li>
              <li class="rank-math-html-sitemap__item">
                <a
                  href="/categories/physics/"
                  class="rank-math-html-sitemap__link"
                  >পদার্থবিদ্যা</a
                >
              </li>
              <li class="rank-math-html-sitemap__item">
                <a
                  href="/categories/evolution/"
                  class="rank-math-html-sitemap__link"
                  >বিবর্তন</a
                >
              </li>
              <li class="rank-math-html-sitemap__item">
                <a
                  href="/categories/space/"
                  class="rank-math-html-sitemap__link"
                  >মহাকাশ</a
                >
              </li>
              <li class="rank-math-html-sitemap__item">
                <a
                  href="/categories/psychology/"
                  class="rank-math-html-sitemap__link"
                  >মনোবিজ্ঞান</a
                >
              </li>
            </ul>
            <li class="rank-math-html-sitemap__item">
              <a href="/categories/books/" class="rank-math-html-sitemap__link"
                >বই</a
              >
            </li>
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/question-answer/"
                class="rank-math-html-sitemap__link"
                >প্রশ্নোত্তর</a
              >
            </li>
            <li class="rank-math-html-sitemap__item">
              <a
                href="/categories/feminism/"
                class="rank-math-html-sitemap__link"
                >নারীবাদ</a
              >
            </li>
            <ul class="rank-math-html-sitemap__list">
              <li class="rank-math-html-sitemap__item">
                <a
                  href="/categories/women-in-hinduism/"
                  class="rank-math-html-sitemap__link"
                  >হিন্দুধর্মে নারী</a
                >
              </li>
              <li class="rank-math-html-sitemap__item">
                <a
                  href="/categories/women-in-islam/"
                  class="rank-math-html-sitemap__link"
                  >ইসলামে নারী</a
                >
              </li>
            </ul>
            <li class="rank-math-html-sitemap__item">
              <a href="/categories/theism/" class="rank-math-html-sitemap__link"
                >আস্তিক্য</a
              >
            </li>
            <li class="rank-math-html-sitemap__item">
              <a href="/categories/sticky/" class="rank-math-html-sitemap__link"
                >অবশ্যপাঠ্য</a
              >
            </li>
          </ul>
        </div>

    </div>
  </section>
  <PageFooter />
</template>
