<script lang="ts" setup>
import useWpApi from "~~/composables/useWpApi";

const { data: blogs, refresh, error } = await useWpApi().getPosts();
</script>
<template>
  <main>
    <PageHeader title="যোগাযোগ"> </PageHeader>
    <section class="container py-10">
      <!-- Contact Section Starts -->
      <div><p>লেখা পাঠাবার জন্য আমাদের কাছে একটি লেখা ইমেইল করুন। রেফারেন্সভিত্তিক তথ্যসমৃদ্ধ লেখাই শুধুমাত্র আমরা প্রকাশ করি।<br>
        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
Editor-in-Chief: <strong>Asif Mohiuddin</strong>&nbsp;<a href="mailto:info@shongshoy.com?Subject=About%20Shongshoy" target="_top" rel="noopener">Send Mail</a><br>
Article Editor: <strong>Matubbar Azad Avijit</strong>&nbsp;<a href="mailto:matubbar@shongshoy.com?Subject=About%20Shongshoy%20Article" target="_top" rel="noopener">Send Mail</a><br>
Rebuttal Editor: <strong>Marufur Rahman Khan</strong>&nbsp;<a href="mailto:maruf@shongshoy.com?Subject=About%20Shongshoy%20Rebuttal" target="_top" rel="noopener">Send Mail</a><br>
Science Editor: <strong>Dr. Amit</strong>&nbsp;<a href="mailto:amit@shongshoy.com?Subject=About%20Shongshoy%20Science" target="_top" rel="noopener">Send Mail</a><br>
Content Editor: <strong>Jack Piter</strong>&nbsp;<a href="mailto:jack@shongshoy.com?Subject=About%20Shongshoy%20Content" target="_top" rel="noopener">Send Mail</a><br>
Gender and Sexuality Studies Editor: <strong>Subaltern</strong> <a href="mailto:subaltern@shongshoy.com?Subject=About%20Shongshoy" target="_top" rel="noopener">Send Mail</a></p>
</div>
     
    </section>
    <!-- Contact Section Ends  -->

    <PageFooter />
  </main>
</template>

<style></style>
