
<template>
  <main>
    <PageHeader title="বহুল জিজ্ঞাসিত প্রশ্নের উত্তর"> </PageHeader>
    
     
    <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2">
            <div>
                <div class="mb-10">

                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> সংশয়বাদ কাকে
                        বলে?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                    <div class="wp-block">
                        <p>কোন দাবী কিংবা ঘটনাকে বিনা প্রশ্নে মেনে না নিয়ে বা অন্ধভাবে বিশ্বাস না করে তা সম্পর্কে সন্দেহ
                            পোষণ এবং প্রশ্নবিদ্ধ করে বিষয়টির সত্যতা যাচাই করার পদ্ধতি হচ্ছে সংশয়বাদ।<mark
                                style="background-color:#8ed1fc" class="has-inline-color"> সংশয়বাদ হচ্ছে চিন্তা করার
                                একটি পদ্ধতি, যা অন্ধভাবে বিশ্বাস না করে সংশয়ী দৃষ্টিভঙ্গি নিয়ে যুক্তি প্রমাণ যাচাই বাছাই
                                করে দেখার ওপর নির্ভরশীল। </mark></p>
                        <p class="has-black-color has-text-color">সংশয়বাদ শব্দটি অনেক বৃহৎ পরিসরে ব্যবহৃত হয়। যেকোন
                            কিছুকে সন্দেহ, সংশয় পোষণ এবং প্রশ্নবিদ্ধ করার মনোভাবকেই সংশয়বাদ বলা যেতে পারে। সাধারণ্যে
                            বহুল প্রচলিত কোনো ধারণাকে সন্দেহ করা অর্থে সংশয়বাদ শব্দটি ব্যবহৃত হয়ে থাকে। </p>
                        <p class="has-black-color has-text-color">যারা সংশয়বাদের প্রতি আস্থা রাখেন বা সংশয়বাদ চর্চা
                            করেন তাদেরকে সংশয়বাদী বলা হয়। সংশয়বাদীগণ মনে করেন, বিনা প্রশ্নে বিনা সন্দেহে কোন দাবীকে
                            মেনে নেয়া সত্য জানার ক্ষেত্রে অন্তরায়। তাই সত্য জানার জন্য সর্বত্তম উপায় হচ্ছে সংশয় পোষণ করে
                            যাচাই করে দেখা। সংশয়ী দৃষ্টিভঙ্গিই যাচাই করার ক্ষেত্র প্রস্তুত করে। চিরায়ত দর্শন থেকেই
                            সংশয়বাদের ইংরেজি প্রতিশব্দ, স্কেপ্টিসিজম শব্দটি এসেছে। প্রাচীন গ্রিসে কিছু দার্শনিক ছিলেন
                            যারা “কোনো কিছুকেই নিশ্চিত বলে ঘোষণা দিতেন না বরং সব কিছুতেই তাদের নিজস্ব যুক্তি তথ্য
                            প্রমাণের ভিত্তিতে মতামত ব্যক্ত করতেন”। দার্শনিকদের এই ধারাটিকে তখন Skeptikoi বলা হতো। তাই
                            Skeptikoi দার্শনিক ধারার দার্শনিকদের বৈশিষ্ট্যকেই স্কেপ্টিসিজম হিসেবে আখ্যায়িত করা হতে
                            থাকে।</p>
                    </div>
                    </p>
                </div>
                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> অজ্ঞেয়বাদ
                        কাকে বলে?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                    <div class="wp-block">
                        <p>অজ্ঞেয়বাদ অর্থ হচ্ছে, কোন বিষয় সম্পর্কে জ্ঞান না থাকার সরল স্বীকারোক্তি। ঈশ্বর বা এই
                            সম্পর্কিত বিষয়াদি সম্পর্কে যেহেতু মানুষের কোন বস্তুনিষ্ঠ প্রমাণ নির্ভর জ্ঞান নেই, তাই এই
                            বিষয়ে অজ্ঞেয়বাদীগণ কিছু জানেন না বলে মনে করেন। </p>
                        <p>অজ্ঞেয়বাদ শব্দটি ইংরেজি যে শব্দটির পারিভাষিক শব্দ, অর্থাৎ “Agnostic” শব্দটিকে ভাংলে আসে
                            গ্রিক “a” এবং “gnostos”। gnostos অর্থ জ্ঞানী, আর তার আগে উপসর্গ “a” মিলে agnostic শব্দের
                            আক্ষরিক অর্থ হয়েছে জ্ঞানহীন। সেই অর্থে একজন ব্যক্তি অনেক বিষয়ে agnostic হতে পারেন।</p>
                        <ul>
                            <li>ধরুন, কেউ প্রশ্ন করলো, আপনি মামদো ভুত সম্পর্কে জানেন? </li>
                            <li>উত্তর হচ্ছে, আমি জানি না। ( অর্থাৎ আমি এই বিষয়ে অজ্ঞেয়বাদী ) </li>
                        </ul>
                        <ul>
                            <li>এবারে প্রশ্ন হচ্ছে, আপনি কী মামদো ভুতের অস্তিত্বে বিশ্বাস করেন?</li>
                            <li>উত্তর হচ্ছে, না, আমি বিশ্বাস করি না। ( অর্থাৎ আমি এই বিষয়ে নাস্তিক )</li>
                        </ul>
                        <p>তাহলে, উপরের দুইটি উত্তর যুক্ত হয়ে আমি মামদো ভুত সম্পর্কে আমি একজন অজ্ঞেয়বাদী নাস্তিক।
                            উল্লেখ্য, উপরের উদাহরণগুলো বিষয়টি বুঝাবার জন্য ব্যবহৃত হয়েছে। </p>
                    </div>
                    </p>
                </div>
                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> নাস্তিক কাকে
                        বলে?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                    <div class="wp-block">
                        <p>ঈশ্বর বা অতিপ্রাকৃতিক সত্ত্বা যা মানুষ বা মহাবিশ্ব সৃষ্টির পেছনে ভূমিকা রেখেছে, এরকম কোন
                            কিছুর অস্তিত্বে যাদের বিশ্বাসের অভাব রয়েছে, তাদের নাস্তিক বলা হয়। যেহেতু ঈশ্বর বা
                            সৃষ্টিকর্তার কোন প্রমাণ মেলে না, তাই নাস্তিকরা বলেন, প্রমাণ ছাড়া এই দাবীকে মেনে নেয়ার কোন
                            যুক্তি নেই। </p>
                    </div>
                    </p>

                </div>
                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> অজ্ঞেয়বাদী
                        নাস্তিক কাকে বলে?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                    <div class="wp-block">
                        <p>অজ্ঞেয়বাদী নাস্তিক হচ্ছেন তিনি, যিনি একইসাথে বলেন, ঈশ্বর সম্পর্কে আমরা কিছুই জানি না, এবং
                            প্রমাণের অভাবে এর সম্পর্কে আমার বিশ্বাসের অভাব রয়েছে বা আমরা এই দাবীকে বিশ্বাস করি না বা
                            মেনে নিই না। অনেকেই নাস্তিক এবং অজ্ঞেয়বাদী হওয়ার বিষয়গুলো গুলিয়ে ফেলেন। তাই ভালভাবে বোঝার
                            জন্য নিচের ছবিটি দেখতে পারেন। </p>
                        <figure class="wp-block-image size-large">
                            <img decoding="async" width="800" height="670" src="https://i0.wp.com/www.shongshoy.com/wp-content/uploads/2022/08/nastik-1.jpg?resize=800%2C670&amp;ssl=1" alt="উত্তর" class="wp-image-31626 jetpack-lazy-image jetpack-lazy-image--handled" title="উত্তরসমূহ" data-recalc-dims="1" srcset="https://i0.wp.com/www.shongshoy.com/wp-content/uploads/2022/08/nastik-1.jpg?resize=1024%2C858&amp;ssl=1 1024w, https://i0.wp.com/www.shongshoy.com/wp-content/uploads/2022/08/nastik-1.jpg?resize=300%2C251&amp;ssl=1 300w, https://i0.wp.com/www.shongshoy.com/wp-content/uploads/2022/08/nastik-1.jpg?resize=768%2C644&amp;ssl=1 768w, https://i0.wp.com/www.shongshoy.com/wp-content/uploads/2022/08/nastik-1.jpg?w=1410&amp;ssl=1 1410w" data-lazy-loaded="1" sizes="(max-width: 800px) 100vw, 800px" loading="eager"><noscript><img data-lazy-fallback="1" decoding="async" width="800" height="670" src="https://i0.wp.com/www.shongshoy.com/wp-content/uploads/2022/08/nastik-1.jpg?resize=800%2C670&#038;ssl=1" alt="উত্তর" class="wp-image-31626" srcset="https://i0.wp.com/www.shongshoy.com/wp-content/uploads/2022/08/nastik-1.jpg?resize=1024%2C858&amp;ssl=1 1024w, https://i0.wp.com/www.shongshoy.com/wp-content/uploads/2022/08/nastik-1.jpg?resize=300%2C251&amp;ssl=1 300w, https://i0.wp.com/www.shongshoy.com/wp-content/uploads/2022/08/nastik-1.jpg?resize=768%2C644&amp;ssl=1 768w, https://i0.wp.com/www.shongshoy.com/wp-content/uploads/2022/08/nastik-1.jpg?w=1410&amp;ssl=1 1410w" sizes="(max-width: 800px) 100vw, 800px" title="উত্তরসমূহ" data-recalc-dims="1" /></noscript>
                        </figure>
                    </div>
                    </p>
                </div>


                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> যুক্তি কাকে
                        বলে?
                    </h3>

                    <div class="wp-block">
                        <p>যুক্তি হচ্ছে কিছুর সত্যতা নির্ধারণের জন্য ব্যবহৃত কিছু পদ্ধতি, যার মাধ্যমে আমরা তার যথার্থতা
                            নিরুপণ করতে পারি। যেমন ধরুন, দুইটি প্রস্তাবনা হচ্ছে,</p>
                        <ul>
                            <li>সকল মানুষ মরণশীল জীব</li>
                            <li>কলিমুদ্দীন একজন মানুষ</li>
                        </ul>
                        <p>এই দুইটি প্রস্তাবনা থেকে আমরা এই সিদ্ধান্তে আসতে পারি যে,
                            <strong>কলিমুদ্দীন একজন মরণশীল জীব</strong>।
                        </p>
                        <p>আবার কিছু যুক্তির কাঠামোতে ভুল থাকায় সেগুলো কখনো যুক্তি হিসেবে গণ্য হবে না। যেমন ধরুন, দুইটি
                            প্রস্তাবনা হচ্ছে,</p>
                        <ul>
                            <li>গরু ঘাস খায়</li>
                            <li>মানুষ গরুর দুধ ও মাংস খায়</li>
                        </ul>
                        <p>এই দুইটি প্রস্তাবনা থেকে আমরা এই সিদ্ধান্তে আসতে পারি না যে, <strong>মানুষ ঘাস খায়! </strong>
                        </p>
                        <p>যে শাস্ত্রে অশুদ্ধ যুক্তি থেকে বৈধ বা শুদ্ধ যুক্তিকে পৃথক করায় নিয়ম পদ্ধতি আলোচনা করে তাকে
                            যুক্তি বিজ্ঞান বলে।</p>
                        <p>যুক্তি এবং কুযুক্তি সম্পর্কে আরো বিস্তারিত জানতে এই লেখাটি পড়ুন
                            <sup>[<a href="#footnote_0_72" id="identifier_0_72" class="footnote-link footnote-identifier-link" title="বহুল প্রচলিত কিছু কুযুক্তি বা ফ্যালাসি বা কুতর্ক বা হেত্বাভাস">1</a>]</sup>
                        </p>
                    </div>



                </div>

            </div>




            <div>
                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> ধর্ম কাকে
                        বলে?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">

                    <div class="wp-block">
                        <p>ধর্ম বলতে সাধারণতঃ পারলৌকিক সুখের জন্য ইহলোকে ঈশ্বর-উপাসনা, আচার-বিচারাদি নিদের্শক তত্ত্বকে
                            বোঝানো হয়। বাঙলা ভাষায় ’ধর্ম’ শব্দটির অর্থ হল ‘যা ধারণ করে’। </p>
                        <p>ধৃ ধাতু + মন প্রত্যয় = ধর্ম । ধৃ ধাতুর অর্থ ধারণ করা ।</p>
                        <p>বাঙলা ভাষায় এই শব্দটির যে মূল অর্থ, এর সাথে বৈশ্বিকভাবে আমরা ধর্ম বলতে যা বুঝি তার কিছুটা
                            পার্থক্য রয়েছে। বাঙলা ভাষাতে ধর্ম বলতে যেমন বৈশিষ্ট্য বোঝানো হয়, আবার একইসাথে প্রাতিষ্ঠানিক
                            ধর্মও বোঝানো হয়। ইংরেজিতে রিলিজিওন(religion) এবং প্রোপারটিজ (properties) বা
                            ক্যারেক্টেরিস্টিকস (characteristics) দুটোকে আলাদাভাবে সংজ্ঞায়িত করা হয়, কিন্তু বাঙলাভাষায়
                            অনেক সময় দুটোর ক্ষেত্রেই ধর্ম শব্দটি ব্যবহার করা হয়। </p>
                        <p>অনেক সময় আমরা পাঠ্যপুস্তকে পড়ি, চুম্বকের ধর্ম কী? এর দ্বারা আসলে বোঝানো হয় চুম্বকের
                            বৈশিষ্ট্য(characteristics) কী। এই ক্ষেত্রে ধর্ম শব্দটির ব্যবহার সঠিক নয়, কিন্তু এটি বহুল
                            প্রচলিত। এর ফলে নানা ধরণের ভুল ধারণা তৈরি হওয়া স্বাভাবিক। </p>
                        <p>ধর্ম বা রিলিজিওন শব্দটির সঠিক অর্থ হওয়া উচিত কিছু বিশ্বাস এবং আচার অনুষ্ঠানের সমষ্টি, যার
                            মাধ্যমে মানুষ অতিপ্রাকৃতিক বা পারলৌকিক সত্ত্বার উপাসনা করে এবং শান্তি লাভের চেষ্টা করে। </p>
                    </div>
                    </p>
                </div>
                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> দর্শন কাকে
                        বলে?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                    <div class="wp-block">
                        <p>দর্শন, ইংরেজিতে ফিলোসফি (philosophy) (গ্রিক ভাষা φιλοσοφία, ফিলোসোফিয়া, আক্ষরিকভাবে “জ্ঞানের
                            প্রতি ভালবাসা”) হলো অস্তিত্ব, জ্ঞান, মূল্যবোধ, কারণ, মন এবং ভাষা সম্পর্কে সাধারণ এবং মৌলিক
                            প্রশ্নগুলির অধ্যয়ন। জগৎ, জীবন, মানুষের সমাজ, তার চেতনা এবং জ্ঞানের প্রক্রিয়া প্রভৃতি মৌল
                            বিধানের আলোচনাকেও দর্শন বলা হয়।</p>
                    </div>

                    </p>

                </div>
                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> বিজ্ঞান কাকে
                        বলে?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">

                    <div class="wp-block">
                        <p>বিজ্ঞান হচ্ছে একটি সুশৃঙ্খল ও নিয়মতান্ত্রিক পদ্ধতি, যার মাধ্যমে আমরা ক্রমাগত গবেষণার মাধ্যমে
                            কোন বিষয় কেন এবং কীভাবে ঘটে তা জানতে পারি। বলা যেতে পারে, এই গবেষণালব্ধ জ্ঞানভাণ্ডারের নামই
                            বিজ্ঞান। বিজ্ঞান কাজ করে প্রমাণ এবং পরীক্ষার মাধ্যমে, তাই এই পদ্ধতিই সত্য নিরুপনের
                            সর্বশ্রেষ্ঠ উপায়। </p>
                    </div>
                    </p>
                </div>
                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> নৈতিকতা কাকে
                        বলে?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                    <div class="wp-block">
                        <p>নৈতিকতা হচ্ছে ভালো-খারাপ, উচিত-অনুচিত এর পার্থক্যকারী একটি মানদণ্ড, যা জ্ঞানের সাথে
                            সম্পর্কিত। মানুষের জ্ঞান যত বৃদ্ধি পায়, ভাল বা মন্দের মধ্যে তত বেশি ভালভাবে পার্থক্য করা
                            সম্ভব হয়। </p>
                    </div>


                    </p>
                </div>
                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> প্রমাণ এবং
                        দাবী কাকে বলে?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                    <div class="wp-block">
                        <p>আমাদের আলোচনাগুলোতে বহুমানুষ বহুসময় এসে দাবী করেন যে, ঈশ্বর বা সৃষ্টিকর্তা নামক এক অলৌকিক
                            সত্ত্বাই মহাবিশ্বের উৎপত্তির কারণ। কিন্তু তারা সকলেই কোন প্রমাণ দেখাতে ব্যর্থ হন। ঈশ্বরের
                            প্রমাণ বলতে আমরা আসলে যা দাবী করি, সেটি হচ্ছে এমন কোন বিষয় আমাদের সামনে উপস্থাপন করা, যা
                            ব্যক্তিবিশেষের মন, বিশ্বাস কিংবা ব্যক্তিগত রুচি অভিরুচির ওপর নির্ভর করে না। যেই বিষয়টি একজন
                            সাদা চামড়ার মানুষের জন্যেও যেরকম, কালো চামড়ার মানুষের জন্যেও সেরকম। মুসলিমের জন্য যেমন,
                            হিন্দুর জন্যেও একই। আফ্রিকার মানুষের জন্যেও যেমন, ইউরোপের মানুষের জন্যেও একই। অর্থাৎ
                            প্রমাণটি সাবজেক্টিভ নয়, অবজেক্টিভ। </p>
                        <p>যেমন ধরুন, জ্বর হলে আমরা প্যারাসিটামল খাই। বেশিরভাগ সময়ই এটি কাজ করে। ঔষধটি ব্যক্তির মন কিংবা
                            বিশ্বাসের ওপর নির্ভর করে না। কিন্তু জ্বর হলে কেউ কালী পুজা করলো, কেউ আল্লাহ পুজা করলো, কেউ
                            বা যীহোভার পুজা করলো, আরেকজন কোন পুজাই করলো না। প্রত্যেকের ক্ষেত্রেই জ্বর ভাল হওয়ার
                            সম্ভাবনাও থাকে, না হওয়ার সম্ভাবনাও থাকে। এটি যাচাই করা সম্ভব নয় যে, অমুক দেবতার পুজার জন্যেই
                            জ্বর সেরেছে। বা অমুক দেবতার পুজা জ্বরের ক্ষেত্রে কোন প্রভাব ফেলেছে। কেউ যদি দাবী করে, কালী
                            পুজার কারণেই তার জ্বর সেরে গেছে, সেটি প্রমাণ হতে পারে না। কারণ অন্য আরেকজনার আল্লাহ পুজাতেও
                            জ্বর সেরে যেতে পারে, আবার একজন নাস্তিকের ক্ষেত্রে পুজা না করেও জ্বর সারতে পারে। যেহেতু এটি
                            ব্যক্তির বিশ্বাসের সাথে সম্পর্কিত, তাই এটি কোন অবজেক্টিভ প্রমাণ নয়। </p>
                    </div>

                    </p>
                </div>



            </div>
        </div>

        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

        <div class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2">
            <div>
                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> নাস্তিক মানে
                        কী?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                    <div class="wp-block">
                        <p class="has-black-color has-text-color">শুরুতেই নাস্তিক শব্দের অর্থ জেনে নেয়া যাক।</p>
                        <p class="has-vivid-red-color has-text-color">নাস্তিক =
                            ন+অস্তি+ইক।<br>ন = নঞর্থক, নাই, প্রয়োজন হয় নাই।<br>অস্তি = অস্তিত্ব, ভৌত জগত, প্রকৃতি ইত্যাদি।<br>ইক = মতবাদী, মতবাদ পোষণকারী।
                        </p>
                        <p>প্রাচীন বৈদিক যুগে যে বা যারা বেদ মানতো না তাদেরকে ‘নাস্তিক’ বলা হতো। কিন্তু মূল অর্থ হিসেবে
                            “নাস্তিক” শব্দটি একটি দার্শনিক অভিধা। ‘ন + অস্তি’ যুক্তিবাদের আলোকে একটি দার্শনিক সিদ্ধান্ত
                            বা বিশ্বাসের অবস্থান। এখানে ন = নাই, প্রয়োজন নাই। আর অস্তি = অস্তিত্ব।</p>
                        <p>নাস্তিক্যবাদ (ইংরেজি ভাষায়: Atheism; অন্যান্য নামঃ নিরীশ্বরবাদ, নাস্তিকতাবাদ) একটি দর্শনিক
                            অবস্থানের নাম যাতে ঈশ্বর বা স্রষ্টার অস্তিত্বকে স্বীকার করা হয়না এবং সম্পূর্ণ ভৌত এবং
                            প্রাকৃতিক উপায়ে প্রকৃতির ব্যাখ্যা দেয়া হয়। কোন অলৌকিক স্রষ্টার ধারণাকে বিশ্বাস করা বা
                            আস্তিক্যবাদ এর বর্জনকেই নাস্তিক্যবাদ বলা যায়।<mark style="background-color:#8ed1fc"
                                class="has-inline-color">&nbsp;নাস্তিক্যবাদ বিশ্বাস বা কোন ধর্ম নয় বরং অবিশ্বাস এবং এটি
                                তথ্য প্রমাণ ও যুক্তির ওপর প্রতিষ্ঠিত। বিশ্বাসের অনুপস্থিতি বা বিশ্বাসের অভাবকেই তাই
                                নাস্তিকতা বলা যেতে পারে।</mark></p>
                        <p>নাস্তিক্যবাদ আসে যুক্তিবাদ থেকে। নাস্তিকতা কোন ধর্ম নয়, বরঞ্চ বেশিরভাগ প্রাতিষ্ঠানিক ধর্মের
                            মৌলিক দাবী, অতিপ্রাকৃতিক সত্ত্বার অস্তিত্বে অবিশ্বাস। যাবতীয় বিশ্বাস, ধর্মবিশ্বাস বা
                            ধর্মতত্বকে যাচাই বাছাই এবং যুক্তিসঙ্গত উপায়ে বাতিলকরণ।<mark
                                style="background-color:#8ed1fc" class="has-inline-color">&nbsp;নাস্তিকতা বলে না যে
                                “ঈশ্বর নেই”; নাস্তিকতার দাবীটি হচ্ছে, “মানবসভ্যতার ইতিহাসে ঈশ্বর আছে বা কোন অলৌকিক শক্তি
                                আছে তার কোন উপযুক্ত তথ্য প্রমাণ নেই”। এবং যেহেতু কোন প্রমাণ নেই, তাই ঈশ্বরের এই দাবীকে
                                নাস্তিক্যবাদ বাতিল করে এবং ভ্রান্ত বলে মনে করে।</mark></p>
                        <p>তবে ঈশ্বরের কোন উপযুক্ত প্রমাণ ধার্মিকগণ দেখাতে সমর্থ হলে তা মেনে নিতে বিন্দুমাত্র আপত্তি
                            নেই। যখনই পাওয়া যাবে, সেগুলো মেনে নেয়া হবে। তবে যুক্তিহীন বিশ্বাস যেহেতু যাচাই করবার কোন
                            উপায় নেই, তাই একে খারাপ কাজে লাগাবার সম্ভাবনাই বেশি থাকে- যেহেতু এটা যুক্তিপ্রমাণহীন একটি
                            বিশ্বাসমাত্র। এবং সত্যিকার অর্থে ঘটেছেও তাই। এছাড়া ধর্মগ্রন্থে যেই ঈশ্বরের কথা বলা আছে, সেই
                            ঈশ্বর শুধু নোংরাই নয়, সাম্প্রদায়িক, হিংস্র, তোষামদপ্রিয় এবং লোভী। সে প্রাচীন কালের
                            রাজাদের চরিত্রের অধিকারী, যে শুধু নিজের উপাসনা আর তোষামোদ চায়, তা না পেলেই ভয় দেখায়। তাই
                            ধর্ম ও ঈশ্বর মানব সভ্যতার জন্য হুমকি স্বরূপও হতে পারে। </p>
                    </div>
                    </p>
                </div>
                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> নাস্তিকতার
                        ভিত্তি কী?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                    <div class="wp-block">
                        <p><mark style="background-color:#8ed1fc" class="has-inline-color">নাস্তিকতার ভিত্তি হচ্ছে
                                যুক্তি, তথ্য, প্রমাণ।</mark> মানুষের অর্জিত জ্ঞান, অনুসন্ধান, প্রশ্ন এবং এর মাধ্যমে নেয়া
                            সিদ্ধান্ত। আপনি যখনই প্রমাণ করতে পারবেন কোন একটি ঈশ্বর বা অলৌকিক সত্ত্বার অস্তিত্ব,
                            নাস্তিকতা নিজেই বাতিল হয়ে যাবে। এখানে যুক্তি এবং প্রমাণই মূখ্য, মতাদর্শ বা ব্যক্তি নয়। </p>
                        <p>এমন নয় যে, ঈশ্বরের অস্তিত্বের প্রমাণ পেলেও নাস্তিকরা অন্ধবিশ্বাসীর মত জোর করে অবিশ্বাস করবে।
                        </p>
                    </div>
                    </p>
                </div>
                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> নাস্তিকরা কি
                        ‘ঈশ্বর নেই’ বলে বিশ্বাস করে?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                    <div class="wp-block">
                        <p>নাস্তিকতা শব্দটির মানে ঈশ্বরের অস্তিত্বে অবিশ্বাস বা বিশ্বাসের অভাব। নাস্তিক শব্দটির মানে এমন
                            একজন ব্যক্তি যিনি ঈশ্বরের অস্তিত্বে অবিশ্বাস করেন বা যার ভেতর ঈশ্বরের অস্তিত্বে বিশ্বাসের
                            অভাব আছে। ঈশ্বরের অস্তিত্বে বিশ্বাস না করা বা ‘ঈশ্বর আছে’ মনে না করাই নাস্তিকতা।</p>
                        <p>কোনোকিছু বিশ্বাস না করা তার বিপরীত কিছুতে বিশ্বাস করা নয়। যেমন আপনি দাবী করলেন আপনার বুক
                            পকেটে ৫ হাজার লক্ষ কোটি টাকা আছে। আমি যুক্তিযুক্ত কারণে আপনার দাবী মেনে নিলাম না। আমি বললাম,
                            এত টাকা একসাথে আপনার পকেটে থাকা যৌক্তিকভাবে অসম্ভব। তাই আমি আপনার দাবীটি বাতিল করছি, বা
                            অবিশ্বাস করছি। </p>
                        <p>এর অর্থ এটি নয় যে, আমি দাবী করছি আপনার পকেটে ৫ হাজার লক্ষ কোটি টাকা নেই বা কোন টাকাই নেই বা
                            আপেল আছে বা কমলা লেবু আছে বা মামদো ভুত আছে বা আল্লাহ আছে। আমার দাবী সেইটুকুই, যা আমি পূর্বে
                            বলেছি। যৌক্তিক কারণে আপনার পকেটে ৫ হাজার লক্ষ কোটি টাকা টাকা একসাথে আছে এটি মেনে নেয়া যাচ্ছে
                            না। আমি আপনার দাবীকে বাতিল করছি। তবে আপনি সেরকম প্রমাণ দেখাতে পারলে অবশ্যই মেনে নিবো। </p>
                        <p>বিস্তারিত এখান থেকে পড়তে পারেন
                            <sup>[<a href="#footnote_1_72" id="identifier_1_72" class="footnote-link footnote-identifier-link" title="ঈশ্বরের অস্তিত্বে অবিশ্বাস মানেই কি ঈশ্বরের অনস্তিত্বে বিশ্বাস?">2</a>]</sup>
                        </p>
                    </div>
                    </p>

                </div>
                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> প্রমাণ থাকা
                        সত্ত্বেও ঈশ্বর বিশ্বাস করে না কেন?
                    </h3>
                    <div class="wp-block">
                        <p>প্রমাণ থাকলে বিশ্বাস-অবিশ্বাসের প্রশ্নই আসে না। বিশ্বাসের প্রয়োজন হয় তখনই যখন প্রমাণের
                            অপ্রতুলতা থাকে। আমরা বিশ্বাস করি না যে, বারাক ওবামা মার্কিন যুক্তরাষ্ট্রের প্রেসিডেন্ট
                            ছিলেন। কারণ এখানে বিশ্বাসের কিছু নেই। অসংখ্য প্রমাণ রয়েছে। আমরা বিশ্বাস করি না যে, সূর্য
                            আছে। বা পৃথিবী গোলাকার। এসব কোনো বিশ্বাসের ব্যাপার নয়। পরীক্ষানিরীক্ষা করে প্রাপ্ত ফলাফল।
                            বিশ্বাসের ওপর নির্ভরশীল নয়। যে কেউ পরীক্ষা করে দেখতে পারেন। পরীক্ষার বিষয়টি বা পদ্ধতিও
                            হেয়ালীপূর্ণ নয়। </p>
                        <p>অর্থাৎ পরীক্ষার সময় এরকম বলা হবে না যে, বিশ্বাস করলে ফলাফল এরকম হবে! পরীক্ষাগুলো ব্যক্তি
                            নিরপেক্ষ। অর্থাৎ ব্যক্তির বিশ্বাস অবিশ্বাস রুচি অভিরুচি তার সমাজ গায়ের চামড়া লিঙ্গ এগুলো
                            কিছুই পরীক্ষার ক্ষেত্রে কোন প্রভাব ফেলবে না। অর্থাৎ অবজেক্টিভ এভিডেন্স। </p>
                        <p>কিন্তু কেউ বিশ্বাস করে ভুত আছে, কেউ তা বিশ্বাস করে না। কেউ বিশ্বাস করে জ্বীন আছে, কেউ তা করে
                            না। কারও বিশ্বাস অবিশ্বাসে কোন কিছুর অস্তিত্ব থাকা না থাকা নির্ভরশীল নয়।</p>
                        <p>শেওড়া গাছের পেত্নী এবং আল্লা ভগবান ঈশ্বর যীশু কালই শিব জিউস এরকম হাজার হাজার দেবদেবী ঈশ্বরের
                            সপক্ষে কোন প্রমাণ হাজির করা হয় নি। প্রমাণ হিসেবে দেখানো হয় এই মহাবিশ্বকে, বা কোন কথিত
                            আসমানি কেতাবকে। যা সেগুলোর অস্তিত্ব প্রমাণ করে না। ঈশ্বরকে যেহেতু বিশ্বাস করতে হয়, তার অর্থ
                            হচ্ছে ঈশ্বরের অস্তিত্ব সম্পর্কে যেসমস্ত যুক্তিপ্রমাণ উত্থাপন করা হয় তা অপ্রতুল।</p>
                        <p>পৃথিবীর সকলেই যদি শেওড়া গাছের পেত্নীতে বিশ্বাস করে, তাতে শেওড়া গাছের পেত্নী প্রমাণিত হয়
                            না। বা পৃথিবীর ফুলফল লতাপাতা গাছপালাও শেওড়া গাছের অস্তিত্বের প্রমাণ হতে পারে না। শেওড়া
                            গাছও শেওড়া গাছের পেত্নীর অস্তিত্ত্বের সপক্ষে প্রমাণ হতে পারে না।</p>
                    </div>
                </div>


                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> সমাজে কি
                        ধর্মের কোন অবদান নাই?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">

                    <div class="wp-block">
                        <p>যুক্তি হচ্ছে কিছুর সত্যতা নির্ধারণের জন্য ব্যবহৃত কিছু পদ্ধতি, যার মাধ্যমে আমরা তার যথার্থতা
                            নিরুপণ করতে পারি। যেমন ধরুন, দুইটি প্রস্তাবনা হচ্ছে,</p>
                        <ul>
                            <li>সকল মানুষ মরণশীল জীব</li>
                            <li>কলিমুদ্দীন একজন মানুষ</li>
                        </ul>
                        <p>এই দুইটি প্রস্তাবনা থেকে আমরা এই সিদ্ধান্তে আসতে পারি যে,
                            <strong>কলিমুদ্দীন একজন মরণশীল জীব</strong>।
                        </p>
                        <p>আবার কিছু যুক্তির কাঠামোতে ভুল থাকায় সেগুলো কখনো যুক্তি হিসেবে গণ্য হবে না। যেমন ধরুন, দুইটি
                            প্রস্তাবনা হচ্ছে,</p>
                        <ul>
                            <li>গরু ঘাস খায়</li>
                            <li>মানুষ গরুর দুধ ও মাংস খায়</li>
                        </ul>
                        <p>এই দুইটি প্রস্তাবনা থেকে আমরা এই সিদ্ধান্তে আসতে পারি না যে, <strong>মানুষ ঘাস খায়! </strong>
                        </p>
                        <p>যে শাস্ত্রে অশুদ্ধ যুক্তি থেকে বৈধ বা শুদ্ধ যুক্তিকে পৃথক করায় নিয়ম পদ্ধতি আলোচনা করে তাকে
                            যুক্তি বিজ্ঞান বলে।</p>
                        <p>যুক্তি এবং কুযুক্তি সম্পর্কে আরো বিস্তারিত জানতে এই লেখাটি পড়ুন
                            <sup>[<a href="#footnote_0_72" id="identifier_0_72" class="footnote-link footnote-identifier-link" title="বহুল প্রচলিত কিছু কুযুক্তি বা ফ্যালাসি বা কুতর্ক বা হেত্বাভাস">1</a>]</sup>
                        </p>
                    </div>
                    </p>
                </div>

            </div>




            <div>
                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> নাস্তিক হয়ে
                        মুসলমান নাম কেন?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">

                    <div class="wp-block">
                        <p>মুহাম্মদ ইসলাম ধর্মের নবুয়্যত পাওয়ার পরে তার নাম পালটায় নি। পুরনো পৌত্তলিক নামই রেখে
                            দিয়েছিল। তার নামটি জন্মের সময় যারা রেখেছিল তাদের কেউই মুসলিম ছিল না
                            <sup>[<a href="#footnote_2_72" id="identifier_2_72" class="footnote-link footnote-identifier-link" title="ইসলামের জুডিও খ্রিস্টান এবং পৌত্তলিক ভিত্তি">3</a>]</sup>।
                            তার বাবার নাম আবদুল্লাহ, মায়ের আমিনা। তারা কেউই মুসলিম ছিলেন না। কিন্তু তাদের নাম এখন
                            মুসলমানদের মধ্যে বহুল প্রচলিত। এমনকি, মুহাম্মদের অনুসারীদের মধ্যে সামান্য কয়েকজন ছাড়া কেউই
                            নাম পালটায় নি। আর এই নামগুলো সবই আরবি নাম। নামের কোন ধর্ম হয় না। আরবি নাম, ইংরেজি নাম,
                            বাঙলা নাম হয়। তাই নাম ইসলামের সম্পত্তি নয়।
                        </p>
                        <p>মুহাম্মদের দাদার নাম ছিল আবদুল মুত্তালিব, একটি আরব পৌত্তলিক নাম। প্রথম বিবির নাম খাদিজা।
                            প্রথম অনুসারীর নাম আলী। আলীর নাম মুহাম্মদ নিজেই রেখেছিলেন, নবুয়্যতের আগে। ইসলাম গ্রহণের পরে
                            কেউই নাম পালটায় নি। ইরাকের সাবেক এক মন্ত্রীর নাম ছিল তারেক আজিজ। মুহাম্মদের পিতামাতা থেকে
                            শুরু করে তারিক আজিজ এরা কেউই মুসলমান ছিল না। আরব ছিল বলে তাদের আরবি নাম ছিল। আরবের প্রাচীন
                            খ্রিস্টান এবং ইহুদী, সেই সাথে পৌত্তলিকদের নামও এরকম। তাই নামের সাথে ধর্মের কোন সম্পর্কে নেই।
                            সম্পর্ক ভাষা এবং সংস্কৃতির সাথে। মুহাম্মদ ভারতে জন্মালে তার নাম ভারতীয় হতো এবং এখন
                            মুসলমানগণ ভারতীয় নামকে মুসলমান বা ইসলামী নাম বলে দাবী করতো। বিভিন্ন অঞ্চলে বিভিন্ন ভাষায়
                            নাম বিভিন্ন রকম হয়। তাই ইসলাম ত্যাগ করায় কারো নাম পরিবর্তন বাধ্যতামূলক নয়। কারণ ইসলাম ঐসব
                            নামের উদ্ভাবক নয়। ঐ নামগুলো ইসলামের আগে থেকেই আরবে প্রচলিত ছিল।</p>
                    </div>
                    </p>
                </div>
                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> নাস্তিকের লাশ
                        কী করা হবে?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                    <div class="wp-block">
                        <p>একজন যুক্তিবাদী মানুষ হিসেবে, মারা যাওয়ার পরে যেহেতু আমার কোন চেতনা থাকবে না, তাই লাশ দিয়ে
                            কেউ স্যান্ডেল বানাবে বা পুড়িয়ে দেবে, তাতে তেমন কিছু যায় আসে না। কারণ তখন আমি আর ব্যথা
                            পাবো না। বা কেউ ছুরি দিয়ে কাটলে চিৎকার করবো না। সুতরাং কী করা হবে তা নিয়ে মাথাব্যথা নাই।
                        </p>
                        <p>তবে যদি আমার শরীর, চোখ, অঙ্গপ্রত্যঙ্গ অন্য কারো কাজে লাগে, সেটা তাদের দিয়ে যেতে ইচ্ছুক।
                            মাটিতে পোকামাকড়ের খাবার হওয়ার চাইতে আমার চোখ দিয়ে আরেকজন পৃথিবী দেখবে, সেটাই উত্তম।</p>
                        <p>মরণোত্তর দেহদান বিষয়ে আগ্রহী হলে এই লেখা দুইটি পড়তে পারেন
                            <sup>[<a href="#footnote_3_72" id="identifier_3_72" class="footnote-link footnote-identifier-link" title="নাস্তিকের লাশের সৎকার কীভাবে হবে?">4</a>]</sup>
                            <sup>[<a href="#footnote_4_72" id="identifier_4_72" class="footnote-link footnote-identifier-link" title="মৃত্যুই শেষ কথা নয়">5</a>]</sup>
                        </p>
                    </div>

                    </p>

                </div>
                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> মানুষ নৈতিকতা
                        শিখবে কোথা থেকে?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">

                    <div class="wp-block">
                        <p>ধর্ম আমাদের কোন নৈতিকতার শিক্ষা দেয় না। ধর্ম যা শেখায় তা হচ্ছে অন্ধ আনুগত্য, নির্দেশনা পালন।
                            নির্দেশ মানলে পুরষ্কার এবং না মানলে শাস্তি। এই পদ্ধতি নৈতিকতার শিক্ষার অন্তরায়। কারণ নৈতিকতা
                            হচ্ছে কোনটি সকলের জন্য ভাল, কোনটি সকলের জন্য মন্দ, তা বিচার বিশ্লেষণের ক্ষমতা। </p>
                        <p>ধর্মগুলোর একটি প্রধানতম দাবী হচ্ছে, ধর্ম নাকি মানুষকে নৈতিকতার শিক্ষা দান করে! খুব গর্ব করে
                            ধর্মের রক্ষকগণ বলে থাকেন যে, তাদের ধর্মীয় নৈতিকতা হচ্ছে<mark>&nbsp;অবজেকটিভ, অর্থাৎ স্থান
                                কাল পাত্রের ওপর নির্ভরশীল নয়।&nbsp;</mark>অন্যদিকে সাবজেক্টিভ মোরালিটি হচ্ছে স্থান কাল
                            পাত্রের ওপর নির্ভরশীল এবং স্থান কাল পাত্রের সাপেক্ষে পরিবর্তন পরিমার্জন সংশোধন যোগ্য। দাবী
                            অনুসারে, অবজেক্টিভ মোরালিটি উচ্চতর কোন ঐশ্বরিক সত্ত্বা থেকে আসে এবং এর কোন পরিবর্তন
                            পরিমার্জন সংশোধন সম্ভব নয়। কিন্তু অবজেক্টিভ মোরালিটির দাবীদার সেই ধর্মগুলোর মধ্যেই খুব
                            হাস্যকর ভাবেই দেখা যায়, উনাদের ধর্মের প্রবর্তকগণ কখনো কখনো আল্লাহর নির্দেশ মোতাবেক ভাই
                            বোনের যৌন সম্পর্ককে বৈধতা দিয়েছিলেন (আদম হাওয়ার ছেলেমেয়েরা ভাইবোন বিবাহ করেছিল), কখনো
                            মুতা বিবাহকে বৈধতা দিয়েছিলেন, নবীর বেলায় যত খুশী বিবাহের অনুমতি দিয়েছিলেন, ইত্যাদি; এরকম
                            আসলে অসংখ্য উদাহরণ। তাহলে এই নৈতিকতা বা মোরালিটি তো স্থান কাল পাত্রের ওপরই নির্ভরশীল হলো,
                            তাই না? অবজেক্টিভ হলো কোথায়?</p>
                        <p>মানুষের নৈতিকতার ভিত্তি হওয়া উচিত যুক্তি তথ্য প্রমাণের আলোকে জ্ঞান বিজ্ঞান এবং ক্রমাগত এর
                            মানোন্নয়ন। কোন ঐশ্বরিক কেতাব যা বহুকাল আগের মানুষের নীতি নৈতিকতার জ্ঞানের ওপর রচিত হয়েছে,
                            সেগুলো আমাদের সভ্য সমাজে আর প্রয়োগযোগ্য নয়। </p>
                        <p>ধরুন, একজন আধুনিক সভ্য মানুষ হিসেবে আপনার কাছে অবশ্যই যুদ্ধবন্দী নারীকে গনিমতের মাল হিসেবে
                            বিছানায় নেয়া খুবই নিন্দনীয় কাজ বলে গণ্য হবে। কিন্তু এই কাজটি আপনার নবীজী নিজ জীবনে
                            কয়েকবারই করেছেন, এবং অন্যদেরও করতে বলেছেন। বা ধরুন আপনি এমন কারও সাথে আপনার বোন বা কন্যাকে
                            বিয়ে দেবেন না, যার ইতিমধ্যে তিনজন স্ত্রী আছে। আপনার বিবেক, বুদ্ধি, আধুনিক মূল্যবোধ, আধুনিক
                            ধ্যান ধারণা আপনাকে সেইসব মধ্যযুগীয় কাজ করতে বাধা দেবে। যদিও আপনি ভাবেন, নৈতিকতার একমাত্র
                            মানদণ্ড আপনার ধর্মটিই, তারপরেও আপনি আপনার বিবেক বুদ্ধি খাঁঁটিয়ে সিদ্ধান্ত নেবেন। আপনি যখন
                            বিবেক বুদ্ধি ব্যবহার করছেনই, তখন আপনার জন্য আসলে ধর্মের নৈতিকতার শিক্ষা অগুরুত্বপুর্ণ।</p>
                        <p>ধর্ম বলছে, শিশু বিবাহ সুন্নত, বহুবিবাহ সুন্নত, কাফের কতল সুন্নত, জিহাদ করা সুন্নত, গনিমতের
                            মাল বা দাসী ভোগ সুন্নত। আপনি বিবেক ব্যবহার করে সেগুলো করেন না। তাহলে অন্যান্য ক্ষেত্রেও এই
                            বিবেকটুকু ব্যবহার করতে দোষ কোথায়?</p>
                        <p>নৈতিকতা শিক্ষার জন্য ধর্মের প্রয়োজন নেই। ধর্ম আমাদের যেই নৈতিকতার শিক্ষা দেয়, তা আধুনিক
                            নৈতিকতার মাপকাঠিতে পুরোমাত্রায় নোংরামী। ধর্ম আমাদের শেখায় গনিমতের মাল হিসেবে নারীকে ভোগ
                            করা যাবে, নারীকে শষ্যক্ষেত্র হিসেবে ব্যবহার করা যাবে, বিধর্মীরা সব নরকে অনন্তকাল পুড়বে
                            শুধুমাত্র একটি বিশেষ ঈশ্বরে অবিশ্বাসের জন্য। ধর্ম আরো শেখায় ভাল কাজ করলে স্বর্গে অসংখ্য
                            বেশ্যা এবং মদ পাওয়া যাবে, খারাপ কাজ করলে নরকে অনন্তকাল মারপিট হবে। এইসব নৈতিকতা নয়,
                            বেশ্যার লোভে যেই নৈতিকতার উৎপত্তি হয় তা আদৌ নৈতিকতাই নয়, বরঞ্চ এগুলো ঘৃণা
                            সৃষ্টিকারী-বিধর্মী বা নারীর প্রতি। অপরদিকে মানুষের ভেতরেই প্রথিত থাকে কল্যানবোধ, মানুষের
                            প্রতি মানুষের ভালবাসা, যা ধর্ম-জাতীয়তাবাদ-লিঙ্গের বড়াই ইত্যাদির কারণে চাপা পরে যেতে থাকে।
                            নাস্তিক্যবাদ মানুষের ঐ মৌলিক মানবিক বোধের বিকাশের কথা বলে, মানুষের ভেতরের নৈতিকতার কথা বলে,
                            বিবেকের কথা বলে। যা কোন লোভ বা ভয়ের কারণে ভাল কাজ করবে না বা খারাপ থেকে বিরত থাকবে না।</p>
                        <p>আইনস্টাইন বলেছেনঃ A man’s ethical behavior should be based effectually on sympathy,
                            education, and social ties and needs; no religious basis is necessary. Man would indeed be
                            in a poor way if he had to be restrained by fear of punishment and hope of reward after
                            death.</p>
                    </div>
                    </p>
                </div>
                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> আপনার বাবাই
                        আপনার বাবা, তার কোন প্রমাণ কী?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                    <div class="wp-block">
                        <p>আমরা সাধারণত পূর্ব অভিজ্ঞতার আলোকে কিছু বিষয়ের ওপর আস্থাশীল হই, এবং কিছু বিষয় সম্পর্কে ধারণা
                            করি যে, সেটি সত্য হওয়ার সম্ভাবনাই বেশি। যেমন ছোটবেলা থেকে আমরা যাদের বাবা মা বলে জেনে এসেছে,
                            যাদের আশেপাশে দেখেছি, তাদেরই বাবা মা বলে জানি। এর সাথে আমরা মিল খুঁজে পাই আমাদের চেহারার
                            সাথে আমাদের বাবা মায়ের চেহারার। আচার আচরণের সাথে আমাদের পরিবারের অন্য সদস্যদের আচার আচরণের।
                            এভাবেই আমরা আমাদের বাবা মা কে, সেটি সম্পর্কে ধারণা করি। </p>
                        <p>আমরা আস্তিক বা নাস্তিক কেউই গ্যারান্টি দিয়ে বলতে পারি না, আমার বাবাই আমার জন্মদাতা। কারণ জন্ম
                            প্রক্রিয়া অর্থাৎ সেই যৌনকর্মের সময় আমরা কেউই সেখানে উপস্থিত ছিলাম না। তবে যেহেতু আমরা একটি
                            পরিবারে বড় হই, সেই শিক্ষা নিয়েই বড় হই যা আমাদের শেখানো হয়। কিন্তু সেটি সবার বেলাতে শতভাগ
                            সত্য নাও হতে পারে। হয়তো আমি যাকে বাবা বলে এতদিন ডেকে এসেছি, সে আসলে আমার জন্মদাতা নন। আমাকে
                            কুড়িয়ে পাওয়া হয়ে থাকতে পারে, অথবা আমার জন্মদাতা আমার জন্মের আগেই মারা যেতে পারে। অনেক ঘটনাই
                            অনেকের ক্ষেত্রে ঘটে। কিন্তু সেগুলোর বেলাতেও আমরা আসলে যুক্তি ও প্রমাণেরই আশ্রয় নিই। </p>
                        <p>ধরুন, কাল রহিমুদ্দীন বা কলিমুদ্দীন নামের একজন রাস্তায় আপনাকে এসে জাপটে ধরে বললো, সেই আপনার
                            বাবা। এবং আপনাকে বলা হলো, সে যে আপনার বাবা, সেটি অন্তর দিয়ে অনুভব করতে বা সেটি হৃদয় দিয়ে
                            ধারণ করতে। বিশ্বাস করতে। কোন যুক্তি বা প্রমাণ না চাইতে। এই নিয়ে সন্দেহ না করতে। প্রশ্ন না
                            করতে। আপনি কী করবেন? আপনি যত বিড় বিশ্বাসী মানুষই হোন না কেন, আপনি সেই লোককে কোন প্রমাণ ছাড়া
                            বাবা ডাকবেন না। হয়তো আপনি যুক্তির ধার ধারেন না, বা সন্দেহ অথবা প্রশ্ন করেন না, পরিপূর্ণভাবে
                            একজন বিশ্বাসী মানুষ, তারপরেও আপনি সেই ক্ষেত্রে প্রমাণ চাইবেন। নাকি কোন প্রমাণ ছাড়াই সেই
                            লোকের কথাতে বিশ্বাস করে বাবা বাবা বলে তার গালে দুটো চুমু দেবেন? </p>
                        <p>সেটি আপনি করবেন না। কারণ এই ক্ষেত্রেও প্রমাণ দরকার হবে। আর যদি তার কাছে সেরকম কোন অবজেক্টিভ
                            প্রমাণ থাকে, সেটি মেনে নেয়া ছাড়া আমাদের আর কোন উপায় নেই। হয়তো আপনাকে যে লালন পালন করেছে,
                            তাকেই আপনি সবসময় বাবা ডাকবেন, কিন্তু আপনার জন্মদাতার কাছে যদি ডিএনএ টেস্ট রেজাল্ট থাকে, এবং
                            অন্যান্য প্রমাণের মাধ্যমে যদি সম্পূর্ণভাবে প্রমাণ হয় যে, সেই আপনার জন্মদাতা, সেই ক্ষেত্রে
                            এটি তো মানতেই হবে। কারণ যুক্তি তথ্য প্রমাণ ব্যক্তিগত আবেগ অনুভূতির চাইতে অনেক বেশি
                            গ্রহণোযোগ্য। </p>
                    </div>


                    </p>
                </div>
                <div class="mb-10">
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg"><svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg></div>
                    <h3 class="flex items-center mb-4 text-2xl font-medium text-rose-950 dark:text-white"> অনেককিছুই তো
                        দেখা যায় না, সেগুলো বিশ্বাস করেন?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                    <div class="wp-block">
                        <p>অনেক সময়ই আস্তিকগণ আমাদের বক্তব্যের কিছু ভুল বা মিথ্যা অর্থ তৈরি করে এমন কিছু সস্তা কৌশল
                            করেন, যেগুলো নিতান্তই হাস্যকর। তারা বলে থাকেন, নাস্তিকরা না দেখে বিশ্বাস করে না! অথচ
                            নাস্তিকরা কখনোই দাবী করে না যে, আমরা শুধু দেখার মাধ্যমে কোন কিছু বিশ্বাস বা অবিশ্বাস করি।
                            আস্তিকরা এই স্ট্রম্যান ফ্যালাসিটি করে খুবই চালাকির সাথে। </p>
                        <p>পৃথিবীতে অনেক কিছুই আছে যেগুলো খালি চোখে দেখা সম্ভব নয়। কিন্তু সেগুলোর বাস্তব প্রমাণ রয়েছে।
                            এই যেমন করোনা ভাইরাস। বা ধরুন অক্সিজেন। কিন্তু এগুলো আমরা পরীক্ষানিরীক্ষার মাধ্যমে প্রমাণ
                            করতে পারি। এগুলো মানুষের বিশ্বাসের ওপর নির্ভরশীল নয়। </p>
                        <p>কিন্তু ধরুন ভুত, পেত্নী, জিউস, শিব, গনেশ, আল্লাহ, হনুমান, থ্যানোস, থর, কালী, এরকম
                            সত্ত্বাগুলোর কোন বাস্তব প্রমাণ নেই। কেউ এগুলো বিশ্বাস করে, কেউ করে না। এগুলোর অবজেক্টিভ
                            প্রমাণ দেখাতে পারলে অবশ্যই আমরা মেনে নিতে বাধ্য। যতদিন তা কেউ দেখাতে না পারছে, ততদিন আমাদের
                            পক্ষে এসব দাবী মেনে নেয়া সম্ভব নয়। </p>
                    </div>

                    </p>
                </div>



            </div>
        </div>


        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">




        <p>তথ্যসূত্রঃ</p>
        <ol class="footnotes">
            <li id="footnote_0_72" class="footnote"> <a
                    href="/%e0%a6%95%e0%a7%81%e0%a6%af%e0%a7%81%e0%a6%95%e0%a7%8d%e0%a6%a4%e0%a6%bf-%e0%a6%ac%e0%a6%be-%e0%a6%ab%e0%a7%8d%e0%a6%af%e0%a6%be%e0%a6%b2%e0%a6%be%e0%a6%b8%e0%a6%bf/">বহুল
                    প্রচলিত কিছু কুযুক্তি বা ফ্যালাসি বা কুতর্ক বা হেত্বাভাস</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_0_72" class="footnote-link footnote-back-link">↑</a>][<a href="#identifier_9_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_1_72" class="footnote"> <a
                    href="/%e0%a6%88%e0%a6%b6%e0%a7%8d%e0%a6%ac%e0%a6%b0%e0%a7%87%e0%a6%b0-%e0%a6%85%e0%a6%b8%e0%a7%8d%e0%a6%a4%e0%a6%bf%e0%a6%a4%e0%a7%8d%e0%a6%ac%e0%a7%87-%e0%a6%85%e0%a6%ac%e0%a6%bf%e0%a6%b6%e0%a7%8d%e0%a6%ac/">ঈশ্বরের
                    অস্তিত্বে অবিশ্বাস মানেই কি ঈশ্বরের অনস্তিত্বে বিশ্বাস?</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_1_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_2_72" class="footnote"> <a
                    href="/%e0%a6%87%e0%a6%b8%e0%a6%b2%e0%a6%be%e0%a6%ae%e0%a7%87%e0%a6%b0-%e0%a6%aa%e0%a7%8c%e0%a6%a4%e0%a7%8d%e0%a6%a4%e0%a6%b2%e0%a6%bf%e0%a6%95-%e0%a6%ad%e0%a6%bf%e0%a6%a4%e0%a7%8d%e0%a6%a4%e0%a6%bf/">ইসলামের
                    জুডিও খ্রিস্টান এবং পৌত্তলিক ভিত্তি</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_2_72" class="footnote-link footnote-back-link">↑</a>][<a href="#identifier_41_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_3_72" class="footnote"> <a
                    href="/%e0%a6%a8%e0%a6%be%e0%a6%b8%e0%a7%8d%e0%a6%a4%e0%a6%bf%e0%a6%95%e0%a7%87%e0%a6%b0-%e0%a6%b2%e0%a6%be%e0%a6%b6-%e0%a6%a6%e0%a6%bf%e0%a6%af%e0%a6%bc%e0%a7%87-%e0%a6%95%e0%a6%bf-%e0%a6%b9%e0%a6%ac/">নাস্তিকের
                    লাশের সৎকার কীভাবে হবে?</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_3_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_4_72" class="footnote"> <a
                    href="/%e0%a6%ae%e0%a7%83%e0%a6%a4%e0%a7%8d%e0%a6%af%e0%a7%81%e0%a6%87-%e0%a6%b6%e0%a7%87%e0%a6%b7-%e0%a6%95%e0%a6%a5%e0%a6%be-%e0%a6%a8%e0%a7%9f/">মৃত্যুই
                    শেষ কথা নয়</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_4_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_5_72" class="footnote"> <a
                    href="https://worldpopulationreview.com/country-rankings/least-religious-countries" target="_blank"
                    rel="noreferrer noopener nofollow">Least Religious Countries 2022</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_5_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_6_72" class="footnote"> Lynn, Richard; John Harvey; Helmuth Nyborg (2009). “Average
                intelligence predicts atheism rates across 137 nations”.&nbsp;Intelligence.&nbsp;<strong>37</strong>:
                11–15.&nbsp;doi:<a href="https://doi.org/10.1016%2Fj.intell.2008.03.004" rel="nofollow noopener"
                    target="_blank">10.1016/j.intell.2008.03.004</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_6_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_7_72" class="footnote"> <a
                    href="/%e0%a6%85%e0%a6%a8%e0%a6%be%e0%a6%97%e0%a6%a4-%e0%a6%aa%e0%a7%81%e0%a6%a4%e0%a7%8d%e0%a6%b0%e0%a7%87%e0%a6%b0-%e0%a6%aa%e0%a7%8d%e0%a6%b0%e0%a6%a4%e0%a6%bf/">অনাগত
                    পুত্রের প্রতি</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_7_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_8_72" class="footnote"> <a
                    href="/%e0%a6%87%e0%a6%b8%e0%a6%b2%e0%a6%be%e0%a6%ae%e0%a7%87-%e0%a6%a7%e0%a6%b0%e0%a7%8d%e0%a6%b7%e0%a6%a3%e0%a7%87%e0%a6%b0-%e0%a6%b6%e0%a6%be%e0%a6%b8%e0%a7%8d%e0%a6%a4%e0%a6%bf/">ইসলামের
                    প্রেক্ষাপটে ধর্ষণ এবং অন্যান্য</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_8_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_9_72" class="footnote"> <a
                    href="/%e0%a6%ac%e0%a6%bf%e0%a6%97-%e0%a6%ac%e0%a7%8d%e0%a6%af%e0%a6%be%e0%a6%82-%e0%a6%a5%e0%a7%87%e0%a6%95%e0%a7%87-%e0%a6%ae%e0%a6%b9%e0%a6%be%e0%a6%ac%e0%a6%bf%e0%a6%b6%e0%a7%8d%e0%a6%ac/">বিগ
                    ব্যাং থেকে মহাবিশ্ব</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_10_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_10_72" class="footnote"> <a
                    href="/%e0%a6%ae%e0%a6%b9%e0%a6%be%e0%a6%ac%e0%a6%bf%e0%a6%b6%e0%a7%8d%e0%a6%ac%e0%a6%83-%e0%a6%ac%e0%a6%bf%e0%a6%b8%e0%a7%8d%e0%a6%ae%e0%a6%af%e0%a6%bc%e0%a7%87%e0%a6%b0-%e0%a6%8f%e0%a6%95-%e0%a6%87/">মহাবিশ্বঃ
                    বিস্ময়ের এক ইতিহাস</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_11_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_11_72" class="footnote"> <a
                    href="/%e0%a6%b6%e0%a7%82%e0%a6%a8%e0%a7%8d%e0%a6%af-%e0%a6%a5%e0%a7%87%e0%a6%95%e0%a7%87-%e0%a6%89%e0%a6%a6%e0%a7%8d%e0%a6%ad%e0%a7%82%e0%a6%a4-%e0%a6%a4%e0%a7%8d%e0%a6%ac%e0%a6%b0%e0%a6%bf%e0%a6%a4/">শূন্য
                    থেকে উদ্ভূত মহাবিশ্ব এবং শক্তির সংরক্ষণশীলতা</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_12_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_12_72" class="footnote"> <a
                    href="/%e0%a6%ac%e0%a6%bf%e0%a6%97-%e0%a6%ac%e0%a7%8d%e0%a6%af%e0%a6%be%e0%a6%82-%e0%a6%a5%e0%a7%87%e0%a6%95%e0%a7%87-%e0%a6%b9%e0%a7%8b%e0%a6%ae%e0%a7%8b-%e0%a6%b8%e0%a7%8d%e0%a6%af%e0%a6%be%e0%a6%aa/">বিগ
                    ব্যাং থেকে – মুহম্মদ জাফর ইকবাল</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_13_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_13_72" class="footnote"> <a href="/big-bang-and-before/">13.8 বিলিয়ন বছর পূর্বে মহা
                    বিস্ফোরণের (Big Bang) আগে কি ছিল?</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_14_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_14_72" class="footnote"> <a
                    href="/%e0%a6%af%e0%a7%87%e0%a6%ad%e0%a6%be%e0%a6%ac%e0%a7%87-%e0%a6%9c%e0%a7%80%e0%a6%ac%e0%a6%a8%e0%a7%87%e0%a6%b0-%e0%a6%b6%e0%a7%81%e0%a6%b0%e0%a7%81-%e0%a6%aa%e0%a7%83%e0%a6%a5%e0%a6%bf%e0%a6%ac/">যেভাবে
                    জীবনের শুরু: পৃথিবীতে প্রাণের উৎপত্তি</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_15_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_15_72" class="footnote"> <a
                    href="/%e0%a6%af%e0%a7%87%e0%a6%ad%e0%a6%be%e0%a6%ac%e0%a7%87-%e0%a6%9c%e0%a7%80%e0%a6%ac%e0%a6%a8%e0%a7%87%e0%a6%b0-%e0%a6%b6%e0%a7%81%e0%a6%b0%e0%a7%81-%e0%a6%aa%e0%a7%8d%e0%a6%b0%e0%a6%a5%e0%a6%ae/">যেভাবে
                    জীবনের শুরু: প্রথম স্বয়ম্ভূর খোঁজে</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_16_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_16_72" class="footnote"> <a
                    href="/%e0%a6%af%e0%a7%87%e0%a6%ad%e0%a6%be%e0%a6%ac%e0%a7%87-%e0%a6%9c%e0%a7%80%e0%a6%ac%e0%a6%a8%e0%a7%87%e0%a6%b0-%e0%a6%b6%e0%a7%81%e0%a6%b0%e0%a7%81-%e0%a6%aa%e0%a7%8d%e0%a6%b0%e0%a7%8b%e0%a6%9f/">যেভাবে
                    জীবনের শুরু: প্রোটনের শক্তি</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_17_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_17_72" class="footnote"> <a
                    href="/%e0%a6%af%e0%a7%87%e0%a6%ad%e0%a6%be%e0%a6%ac%e0%a7%87-%e0%a6%9c%e0%a7%80%e0%a6%ac%e0%a6%a8%e0%a7%87%e0%a6%b0-%e0%a6%b6%e0%a7%81%e0%a6%b0%e0%a7%81-%e0%a6%95%e0%a7%8b%e0%a6%b7%e0%a7%87%e0%a6%b0/">যেভাবে
                    জীবনের শুরু: কোষের জন্ম</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_18_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_18_72" class="footnote"> <a
                    href="/%e0%a6%af%e0%a7%87%e0%a6%ad%e0%a6%be%e0%a6%ac%e0%a7%87-%e0%a6%9c%e0%a7%80%e0%a6%ac%e0%a6%a8%e0%a7%87%e0%a6%b0-%e0%a6%b6%e0%a7%81%e0%a6%b0%e0%a7%81%e0%a6%83-%e0%a6%b8%e0%a6%ac-%e0%a6%aa%e0%a6%a5/">যেভাবে
                    জীবনের শুরু: সব পথ এসে মিলে গেল শেষে (শেষ পর্ব)</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_19_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_19_72" class="footnote"> <a
                    href="/%e0%a6%95%e0%a6%be%e0%a6%b2%e0%a6%be%e0%a6%ae-%e0%a6%95%e0%a6%b8%e0%a6%ae%e0%a7%8b%e0%a6%b2%e0%a6%9c%e0%a6%bf%e0%a6%95%e0%a7%8d%e0%a6%af%e0%a6%be%e0%a6%b2-%e0%a6%86%e0%a6%b0%e0%a7%8d%e0%a6%97%e0%a7%81/">কালাম
                    কসমোলজিক্যাল আর্গুমেন্ট</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_20_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_20_72" class="footnote"> <a
                    href="/%e0%a6%88%e0%a6%b6%e0%a7%8d%e0%a6%ac%e0%a6%b0-%e0%a6%b9%e0%a6%be%e0%a6%87%e0%a6%aa%e0%a7%8b%e0%a6%a5%e0%a6%bf%e0%a6%b8%e0%a6%bf%e0%a6%b8/"
                    target="_blank" rel="noreferrer noopener">ঈশ্বর হাইপোথিসিস</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_21_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_21_72" class="footnote"> <a
                    href="/%e0%a6%86%e0%a6%b0%e0%a6%ae%e0%a6%bf%e0%a6%a8-%e0%a6%a8%e0%a6%ac%e0%a6%be%e0%a6%ac%e0%a6%bf-%e0%a6%93-%e0%a6%b0%e0%a6%bf%e0%a6%9a%e0%a6%be%e0%a6%b0%e0%a7%8d%e0%a6%a1-%e0%a6%a1%e0%a6%95%e0%a6%bf/">আরমিন
                    নবাবি ও রিচার্ড ডকিন্স – আস্তিক্য, নাস্তিক্য এবং অজ্ঞেয়বাদ</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_22_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_22_72" class="footnote"> <a
                    href="/%e0%a6%a8%e0%a6%ac%e0%a7%80-%e0%a6%ae%e0%a7%81%e0%a6%b9%e0%a6%be%e0%a6%ae%e0%a7%8d%e0%a6%ae%e0%a6%a6-%e0%a6%95%e0%a6%bf-%e0%a6%b8%e0%a6%b0%e0%a7%8d%e0%a6%ac%e0%a6%95%e0%a6%be%e0%a6%b2%e0%a7%87/">নবী
                    মুহাম্মদ কি সর্বকালের সর্বশ্রেষ্ঠ মানুষ ছিলেন?</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_23_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_23_72" class="footnote"> <a
                    href="/%e0%a6%b9%e0%a6%af%e0%a6%b0%e0%a6%a4-%e0%a6%ae%e0%a7%81%e0%a6%b9%e0%a6%be%e0%a6%ae%e0%a7%8d%e0%a6%ae%e0%a6%a6-%e0%a6%95%e0%a7%80-%e0%a6%86%e0%a6%b8%e0%a6%b2%e0%a7%87%e0%a6%87-%e0%a6%a8%e0%a6%bf/">হযরত
                    মুহাম্মদ কি আসলেই নিরক্ষর ছিলেন?</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_24_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_24_72" class="footnote"> <a
                    href="/%e0%a6%87%e0%a6%ac%e0%a6%a8%e0%a7%87-%e0%a6%b8%e0%a6%bf%e0%a6%a8%e0%a6%be-%e0%a6%95%e0%a7%80-%e0%a6%ae%e0%a7%81%e0%a6%b8%e0%a6%b2%e0%a6%bf%e0%a6%ae-%e0%a6%9b%e0%a6%bf%e0%a6%b2%e0%a7%87%e0%a6%a8/">ইবনে
                    সিনা কি মুসলিম ছিলেন?</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_25_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_25_72" class="footnote"> <a
                    href="/%e0%a6%97%e0%a6%a1-%e0%a6%b2%e0%a7%87%e0%a6%9f%e0%a6%be%e0%a6%b0%e0%a6%83-%e0%a6%86%e0%a6%87%e0%a6%a8%e0%a6%b8%e0%a7%8d%e0%a6%9f%e0%a6%be%e0%a6%87%e0%a6%a8-%e0%a6%95%e0%a7%80-%e0%a6%88%e0%a6%b6/">গড
                    লেটারঃ আইনস্টাইন কী ঈশ্বরে বিশ্বাসী ছিলেন?</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_26_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_26_72" class="footnote"> <a
                    href="/%e0%a6%a8%e0%a6%be%e0%a6%9f%e0%a6%95-%e0%a6%a8%e0%a6%be%e0%a6%b8%e0%a7%8d%e0%a6%a4%e0%a6%bf%e0%a6%95%e0%a6%a4%e0%a6%be/">বাঙলা
                    নাটকে নাস্তিকতা – থিওরি অফ প্রব্যাবিলিটি?</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_27_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_27_72" class="footnote"> <a
                    href="/%e0%a6%88%e0%a6%b6%e0%a7%8d%e0%a6%ac%e0%a6%b0%e0%a7%87-%e0%a6%ac%e0%a6%bf%e0%a6%b6%e0%a7%8d%e0%a6%ac%e0%a6%be%e0%a6%b8-%e0%a6%95%e0%a6%bf-%e0%a6%85%e0%a6%aa%e0%a7%87%e0%a6%95%e0%a7%8d%e0%a6%b7/">ঈশ্বরে
                    বিশ্বাস কি অপেক্ষাকৃত বেশি নিরাপদ?</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_28_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_28_72" class="footnote"> <a
                    href="/%e0%a6%b8%e0%a7%81%e0%a6%a8%e0%a6%bf%e0%a6%a4%e0%a6%be-%e0%a6%89%e0%a6%87%e0%a6%b2%e0%a6%bf%e0%a7%9f%e0%a6%be%e0%a6%ae%e0%a6%b8%e0%a6%95%e0%a7%87-%e0%a6%a8%e0%a6%bf%e0%a7%9f%e0%a7%87-%e0%a6%ae/">সুনিতা
                    উইলিয়ামসকে নিয়ে মুসলিমদের জালিয়াতি</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_29_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_29_72" class="footnote"> <a
                    href="/%e0%a6%a8%e0%a6%bf%e0%a6%b2-%e0%a6%86%e0%a6%b0%e0%a7%8d%e0%a6%ae%e0%a6%b8%e0%a7%8d%e0%a6%9f%e0%a7%8d%e0%a6%b0%e0%a6%82-%e0%a6%95%e0%a6%bf-%e0%a6%86%e0%a6%b8%e0%a6%b2%e0%a7%87%e0%a6%87-%e0%a6%87/">নিল
                    আর্মস্ট্রং কি আসলেই ইসলাম গ্রহণ করেছিল?</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_30_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_30_72" class="footnote"> <a
                    href="/%e0%a6%ac%e0%a6%be%e0%a6%87%e0%a6%ac%e0%a7%87%e0%a6%b2%e0%a7%87-%e0%a6%ae%e0%a7%81%e0%a6%b9%e0%a6%be%e0%a6%ae%e0%a7%8d%e0%a6%ae%e0%a6%a6/">মিথ্যার
                    বেসাতি – বাইবেলে নবী মুহাম্মদ প্রসঙ্গে</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_31_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_31_72" class="footnote"> <a
                    href="/%e0%a6%ad%e0%a6%ac%e0%a6%bf%e0%a6%b7%e0%a7%8d%e0%a6%af-%e0%a6%aa%e0%a7%81%e0%a6%b0%e0%a6%be%e0%a6%a3%e0%a7%87-%e0%a6%87%e0%a6%b8%e0%a6%b2%e0%a6%be%e0%a6%ae%e0%a7%87%e0%a6%b0-%e0%a6%aa%e0%a7%8d/">ভবিষ্য
                    পুরাণে ইসলামের প্রবর্তক মুহাম্মদ!</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_32_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_32_72" class="footnote"> <a
                    href="/%e0%a6%ae%e0%a7%81%e0%a6%b9%e0%a6%be%e0%a6%ae%e0%a7%8d%e0%a6%ae%e0%a6%a6%e0%a6%87-%e0%a6%95%e0%a6%bf-%e0%a6%95%e0%a6%b2%e0%a7%8d%e0%a6%95%e0%a6%bf-%e0%a6%85%e0%a6%ac%e0%a6%a4%e0%a6%be%e0%a6%b0/">মুহাম্মদই
                    কি কল্কি অবতার?</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_33_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_33_72" class="footnote"> <a
                    href="/%e0%a6%87%e0%a6%b8%e0%a6%b2%e0%a6%be%e0%a6%ae-%e0%a6%8f%e0%a6%ac%e0%a6%82-%e0%a6%ac%e0%a6%bf%e0%a6%9c%e0%a7%8d%e0%a6%9e%e0%a6%be%e0%a6%a8-%e0%a6%b6%e0%a6%bf%e0%a6%95%e0%a7%8d%e0%a6%b7%e0%a6%be/">ইসলাম
                    এবং বিজ্ঞান শিক্ষার দ্বন্দ্ব</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_34_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_34_72" class="footnote"> <a
                    href="/%e0%a6%87%e0%a6%b8%e0%a6%b2%e0%a6%be%e0%a6%ae-%e0%a6%95%e0%a6%bf-%e0%a6%87%e0%a6%a8%e0%a6%b8%e0%a6%be%e0%a6%ab-%e0%a6%aa%e0%a7%8d%e0%a6%b0%e0%a6%a4%e0%a6%bf%e0%a6%b7%e0%a7%8d%e0%a6%a0%e0%a6%be/">ইসলাম
                    কি ইনসাফ প্রতিষ্ঠা করে?</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_35_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_35_72" class="footnote"> <a
                    href="/%e0%a6%87%e0%a6%b8%e0%a6%b2%e0%a6%be%e0%a6%ae-%e0%a6%95%e0%a6%bf-%e0%a6%af%e0%a6%be%e0%a6%9a%e0%a6%be%e0%a6%87-%e0%a6%95%e0%a6%b0%e0%a6%be%e0%a6%b0-%e0%a6%b8%e0%a7%81%e0%a6%af%e0%a7%8b%e0%a6%97/">ইসলাম
                    কি যাচাই করার সুযোগ দেয়?</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_36_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_36_72" class="footnote"> <a
                    href="/%e0%a6%87%e0%a6%b8%e0%a6%b2%e0%a6%be%e0%a6%ae%e0%a7%87-%e0%a6%9c%e0%a6%be%e0%a6%a4%e0%a6%bf%e0%a6%ad%e0%a7%87%e0%a6%a6-%e0%a6%ac%e0%a6%b0%e0%a7%8d%e0%a6%a3%e0%a6%ac%e0%a6%be%e0%a6%a6/">ইসলাম
                    এবং জাতিভেদ বা বর্ণবাদ</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_37_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_37_72" class="footnote"> <a
                    href="/%e0%a6%95%e0%a7%87%e0%a7%9f%e0%a6%be%e0%a6%ae%e0%a6%a4-%e0%a6%aa%e0%a6%b0%e0%a7%8d%e0%a6%af%e0%a6%a8%e0%a7%8d%e0%a6%a4-%e0%a6%9c%e0%a6%bf%e0%a6%b9%e0%a6%be%e0%a6%a6%e0%a7%87%e0%a6%b0-%e0%a6%ac/">কিতাল
                    ফি সাবিলিল্লাহ – কিয়ামত পর্যন্ত জিহাদের বিধান</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_38_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_38_72" class="footnote"> <a
                    href="/%e0%a6%95%e0%a7%8b%e0%a6%b0%e0%a6%86%e0%a6%a8-%e0%a6%b8%e0%a6%82%e0%a6%95%e0%a6%b2%e0%a6%a8-%e0%a6%aa%e0%a6%b0%e0%a6%bf%e0%a6%ae%e0%a6%be%e0%a6%b0%e0%a7%8d%e0%a6%9c%e0%a6%a8/">কোরআন
                    সংকলন এবং পরিমার্জনের ইতিহাস</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_39_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_39_72" class="footnote"> <a
                    href="/%e0%a6%87%e0%a6%b8%e0%a6%b2%e0%a6%be%e0%a6%ae%e0%a7%87-%e0%a6%a4%e0%a6%be%e0%a6%95%e0%a6%a6%e0%a7%80%e0%a6%b0/">ইসলামের
                    অন্যতম ভিত্তি তাকদীর প্রসঙ্গে</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_40_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
            <li id="footnote_40_72" class="footnote"> <a
                    href="/%e0%a6%ae%e0%a7%82%e0%a6%b0%e0%a7%8d%e0%a6%a4%e0%a6%bf-%e0%a6%ad%e0%a6%be%e0%a6%99%e0%a7%8d%e0%a6%97%e0%a6%be%e0%a6%b0-%e0%a6%b8%e0%a7%81%e0%a6%a8%e0%a7%8d%e0%a6%a8%e0%a6%a4/">ধর্ম
                    অবমাননা, সাম্প্রদায়িকতা এবং মূর্তি ভাঙ্গার সুন্নত</a>
                <span class="footnote-back-link-wrapper">[<a href="#identifier_42_72" class="footnote-link footnote-back-link">↑</a>]</span>
            </li>
        </ol>
    </div>
</section>

    <PageFooter />
  </main>
</template>

<style></style>
