<script lang="ts" setup>
import useWpApi from "~~/composables/useWpApi";

const { data: blogs, refresh, error } = await useWpApi().getPosts();
</script>
<template>
  <main>
    <PageHeader title="ইতিহাস"> </PageHeader>
    <section class="container py-10">
    <!-- Hostory Section Starts -->
    
      
        <article
          id="post-2880"
          class="post-2880 page type-page status-publish hentry"
        >
          
          <div class="entry-content clearfix">
            <div id="toc_container" class="toc_light_blue no_bullets">
              <p class="toc_title">
                সূচিপত্র
              </p>
              <ul class="toc_list">
                <li>
                  <a href="#i"
                    ><span class="toc_number toc_depth_1">1</span> ধর্মের
                    সমালোচনা</a
                  >
                </li>
                <li>
                  <a href="#i-2"
                    ><span class="toc_number toc_depth_1">2</span> ধর্মীয়
                    ধারণার শব্দতাত্ত্বিক ইতিহাস</a
                  >
                </li>
                <li>
                  <a href="#i-3"
                    ><span class="toc_number toc_depth_1">3</span> ধর্মের
                    সমালোচনার সংক্ষিপ্ত ইতিহাস</a
                  >
                </li>
              </ul>
            </div>
            <h2 id="ধর্মের_সমালোচনা"><span id="i">ধর্মের সমালোচনা</span></h2>
            <p>
              পৃথিবীর প্রতিটি নতুন ধর্মের সূচনা হয়েছিল সেই সময়ে প্রচলিত
              ধর্মসমূহের সমালোচনা এবং তখনকার ধর্মগুলোকে মিথ্যা প্রমাণের চেষ্টা
              হিসেবে। উদাহরণ হিসেবে বলা যায়, হযরত মুহাম্মদ যখন প্রথম আরবের
              পৌত্তলিক ধর্মগুলোর সমালোচনা শুরু করেন, এবং সেই সব ধর্মগুলোকে
              মিথ্যা বলতে শুরু করেন, সেই সব দেবদেবীকে জড়বস্তু এবং ক্ষমতাহীন
              মূর্তি বলতে শুরু করেন, সেটিও ছিল ধর্মের সমালোচনা। বস্তুতপক্ষে,
              হযরত মুহাম্মদ ছিলেন সেই সময়ের পৌত্তলিক ধর্ম প্রথা এবং সংস্কৃতির
              কঠোর সমালোচক। তাই ধর্মের সমালোচনা প্রতিটি নতুন ধর্মের অন্যতম
              ভিত্তি হিসেবেই কাজ করেছে।
            </p>
            <p>
              তৎকালীন আরব সমাজে প্রচলিত রীতিনীতি, সংস্কার, প্রথা, ধর্মবিশ্বাসে
              বিশ্বাসী মানুষদের মনে নিঃসন্দেহে হযরত মুহাম্মদের এই ধরণের
              কথাবার্তা আঘাত করেছিল। আজকে অসংখ্য মুসলিমান যখন দাবী করেন, অমুকে
              ইসলামের সমালোচনার মাধ্যমে তার বা তাদের ধর্মীয় বিশ্বাসে আঘাত
              হেনেছে, তারা ভুলে যান, হযরত মুহাম্মদ নিজেই ধর্মের সমালোচনা
              করেছিলেন। কারণ হযরত মুহাম্মদ মনে করেছিলেন, তৎকালীন সময়ে প্রচলিত
              পৌত্তলিক ধর্মগুলো ভুল এবং মিথ্যা। আজকের যুগে তাই কেউ যদি মনে করেন,
              তার সময়ে প্রচলিত ধর্ম বা ধর্মসমূহ মিথ্যা বা ভুল, তারও সেই সকল
              ধর্মকে ভুল প্রমাণ করার অধিকার থাকা উচিৎ। ধর্মীয় অনুভূতিকে আঘাত
              দেয়া বা প্রচলিত ধর্মের সমালোচনা যদি অপরাধ হয়ে থাকে, তাহলে হযরত
              মুহাম্মদকেও একই অপরাধে দোষী সাব্যস্ত করা সম্ভব।
            </p>
            <p>
              ধর্মের সমালোচনার একটি সুদীর্ঘ ইতিহাস রয়েছে। সুদূর অতীতে প্রাচীন
              গ্রিসে, খ্রিষ্টপূর্ব পঞ্চম শতাব্দীতে দার্শনিক ‘মেলোসের নাস্তিক’
              ‍দিয়াগোরাসের (Diagorus ‘the Atheist’ of Melos) মতবাদ থেকে শুরু
              করে, প্রাচীন রোমে, খ্রিষ্টপূর্ব প্রথম শতাব্দীতে রচিত দার্শনিক
              লুক্রেশিয়াসের রচনা De Rerum Natura (On the Nature of Things)
              প্রভৃতি ধর্মের সমালোচনার আদিমতম নিদর্শনগুলোর মধ্যে উল্লেখযোগ্য।
              ধর্মের সমালোচনার বিষয়টি জটিল আকার ধারণ করে কারণ পৃথিবীর বিভিন্ন
              সংস্কৃতি ও ভাষায় ধর্মের বিচিত্র সব সংজ্ঞা ও ধারণা পাওয়া যায়
              যেগুলো একটি আরেকটির থেকে নানাভাবে আলাদা। ধর্মীয় মতবাদসমূহের মধ্যে
              একেশ্বরবাদ, বহু-ঈশ্বরবাদ, সর্বেশ্বরবাদ, নিরীশ্বরবাদ প্রভৃতি
              শাখা-প্রশাখার এবং খ্রিষ্ট ধর্ম, ইহুদি ধর্ম, ইসলাম ধর্ম, তাওইজম,
              বৌদ্ধ ধর্ম এবং এরূপ অসংখ্য সুনির্দিষ্ট বিচিত্র মতবাদের অস্তিত্ব
              থাকায়, প্রায়শই নির্দিষ্ট করে বলা সম্ভব হয় না, যে ঠিক কোন
              ধর্মীয় মতবাদকে উদ্দেশ্য করে সমালোচনা করা হচ্ছে।
            </p>
            <p>
              পৃথিবীর সব স্বতন্ত্র ধর্মই নিজেদের মতবাদের সত্যতা দাবি করে এবং
              অন্য সব স্বতন্ত্র ধর্মীয় মতবাদসমূহকে নাকচ করে। সমালোচনাকারীরা
              ধর্মের সমালোচনা করার সময় সাধারণত ধর্মগুলোকে সেকেলে, অনুসারী
              ব্যক্তির জন্য ক্ষতিকর, সমাজের জন্য ক্ষতিকর, বৈজ্ঞানিক অগ্রগতির পথে
              প্রতিবন্ধকতাস্বরূপ, অনৈতিক আচরণ ও প্রথার উৎস এবং সামাজিক
              নিয়ন্ত্রণের রাজনৈতিক হাতিয়ার হিসেবে বিবেচনা করে থাকেন।
            </p>
            <p>
              <strong
                >ধর্মের সমালোচনা (Criticism of religion) বলতে বোঝানো হয় ধর্মীয়
                ধ্যান-ধারণা, ধর্মীয় মতবাদ, ধর্মের যথার্থতা ও ধর্মচর্চার সাথে
                সংশ্লিষ্ট আচার-অনুষ্ঠান, প্রথা, রীতি-নীতি এবং তৎসংশ্লিষ্ট
                রাজনৈতিক ও সামাজিক ঈঙ্গিতসমূহের গঠনমূলক সমালোচনা।</strong
              >
            </p>
            <h2 id="ধর্মীয়_ধারণার_শব্দতাত্ত্বিক_ইতিহাস">
              <span id="i-2">ধর্মীয় ধারণার শব্দতাত্ত্বিক ইতিহাস</span>
            </h2>
            <p>
              Religion (উচ্চারণ: রিলিজিওন, অর্থ: উপসনা ধর্ম) শব্দটির উৎপত্তি
              ফরাসি religion থেকে, যেমন, “religious community” (উচ্চারণ:
              রিলিজিয়াস কম্যুনিটি, অর্থ: ধর্মীয় সম্প্রদায়)। আবার এটি এসেছে
              লাতিন religionem থেকে (nom. religio) যার অর্থ “পবিত্র বিষয়ের
              প্রতি শ্রদ্ধা, ঈশ্বরদের প্রতি নিষ্ঠা” (“respect for what is
              sacred, reverence for the gods”), এবং “বাধ্যতা, যা মানুষ ও
              ঈশ্বরদের মধ্যে সেতুবন্ধনস্বরূপ” (“obligation, the bond between man
              and the gods”), যেটি আবার লাতিন religiō থেকে পাওয়া।
            </p>
            <p>
              প্রাচীন ও মধ্যযুগীয় পৃথিবীতে, আধুনিক ‘religion’ শব্দের
              ব্যুৎপত্তিগত লাতিন শব্দমূল religio -কে বোঝা হতো ব্যক্তিবিশেষের
              উপাসনা করার গুণ হিসেবে; কখনই মতবাদ, চর্চা কিংবা জ্ঞানের উৎসকে
              নির্দেশ করতে ব্যবহৃত হতো না। ধর্মের আধুনিক ধারণা এমন এক বিমূর্ততা,
              যা ধর্মকে কতকগুলো স্বতন্ত্র বিশ্বাস বা মতবাদের সমষ্টি হিসেবে
              উপস্থাপন করে। ধর্মের অর্থ হিসেবে এটি অতি সাম্প্রতিক একটি উদ্ভাবন,
              ইংরেজি ভাষায় যার ব্যাপক ব্যবহার সপ্তাদশ শতাব্দী থেকে লক্ষণীয়।
              এসময় ‘ধর্ম’ বলতে বোঝানো হতে থাকে ‘উপাসনা ধর্মকে’। ইতিহাসবেত্তারা
              এর কারণ হিসেবে প্রটেস্ট্যান্ট সংস্কারের সময়ে খ্রিষ্ট ধর্মের
              বিভাজন ও ভ্রমণের যুগে বৈশ্বায়নকে দায়ী করে থাকেন।
            </p>
            <p>
              এ যুগে, ইউরোপীয়দের সাথে অসংখ্য ভিন্ন সংস্কৃতির ও ভাষার
              দেশী-বিদেশী জনপদের যোগাযোগ স্থাপন আরও সাধারণ একটি ব্যাপারে পরিণত
              হয়। আবার এসব জনগোষ্ঠীর মধ্যে অনেকেরই নিজ ভাষায় ধর্মীয় ভাব
              প্রকাশের জন্য ‘religion’ -এর সমতূল্য ধারণা বা সমার্থক শব্দ ছিল না।
              সপ্তাদশ শতকই সেই সময়, যখন ধর্মের ধারণা আধুনিক আকার পেতে শুরু করে।
              যদিও বাইবেল, কুরআন এবং অন্যান্য প্রাচীন পবিত্র ধর্মগ্রন্থসমূহের
              মূল ভাষায় লিখিত সংস্করণে ধর্মের ধারণার কোন সুস্পষ্ট উল্লেখ ছিল
              না। এমনকি যে সংস্কৃতিতে এই ধর্মগ্রন্হসমূহ লেখা হয় কিংবা যারা এই
              গ্রন্হগুলো অনুসরণ করতেন তাদেরও ধর্মের কোন সুস্পষ্ট ধারণা ছিল না।
              উদাহরণস্বরূপ, গ্রিক শব্দ threskeia (উচ্চারণ: থ্রেসকিয়া বা
              থ্রিসকিয়া) -এর কথা বলা যায়, যেটি হিরোডোটাস ও জোসিফাসের মত
              প্রখ্যাত গ্রিক লেখকেরা ‘উপাসনা’ অর্থে ব্যবহার করতেন। অথচ আজকের
              দিনে নিউ টেস্টামেন্টে এর অনুবাদ করা হয়েছে ‘ধর্ম’ হিসেবে।
              মধ্যযুগেও উক্ত শব্দটি ‘উপাসনা’ কিংবা এর সমার্থক ভাব প্রকাশে
              ব্যবহৃত হতো। আবার কুরঅানের ক্ষেত্রে, অধিকাংশ সময়ই আরবী শব্দ دين
              (উচ্চারণ: দ্বীন) -এর আধুনিক ইংরেজি অনুবাদ করা হয় ‘religion’ বা
              ধর্ম হিসেবে, কিন্তু সপ্তাদশ শতকের মধ্যভাগ পর্যন্ত অনুবাদকেরা এই
              শব্দটি ব্যবহার করতেন ‘আইন’ বোঝাতে।
            </p>
            <p>
              এমনকি খ্রিষ্টপূর্ব ১ম শতকেও গ্রিক দার্শনিক জোসিফাস গ্রিক শব্দ
              ioudaismos (উচ্চারণ: ইউদাইসমোস) -কে ‘সম্প্রদায়’ অর্থে ব্যবহার
              করতেন, যার সাথে আধুনিককালের এক সেট বিমূর্ত ধারণা ও বিশ্বাসের
              সমাহার হিসেবে ধর্মের যে সংজ্ঞা প্রণীত হয়েছে তার কোন সম্পর্ক নেই।
              যদিও বর্তমানকালে অনেকেই ioudaismos -কে ‘ইহুদি ধর্ম’ (Judaism)
              হিসেবে অনুবাদ করেন। উনবিংশ শতকেই প্রথম চলিত ভাষায় ‘বৌদ্ধ ধর্ম’
              (Buddhism), ‘হিন্দু ধর্ম’ (Hinduism), ‘তাওবাদ’ (Taoism),
              ‘কনফুসিয়ানিজম’ (Confucianism) প্রভৃতি শব্দের উন্মেষ ঘটে। জাপানের
              সুদীর্ঘ ইতিহাস পর্যালোচনায় দেখা যায়, জাপানে কখনই কোথাও ‘ধর্মের’
              কোন ধারণা ছিল না। যেহেতু জাপানী ভাষায় ‘ধর্ম’ বোঝাতে কোন শব্দ ছিল
              না, এমনকি এর কাছাকাছি ভাব প্রকাশ করে এমন কোন শব্দও না থাকায়, যখন
              ১৮৫৩ সালে মার্কিন রণতরীগুলো জাপানের উপকূলে এর জলসীমায় অবস্থান
              নেয় এবং তৎকালীর জাপান সরকারকে অন্যান্য অনেক বিষয়ের সাথে ধর্মের
              স্বাধীনতাকেও রাষ্ট্রনীতি হিসেবে স্বীকার করে সন্ধিপত্রে স্বাক্ষরের
              জন্য চাপ দিতে থাকে, তখন জাপান সরকার বাধ্য হয় এই পশ্চিমা ধারণা
              গ্রহন করতে।
            </p>
            <p>
              উনিশ শতকের প্রখ্যাত ভাষাতত্ত্ববিদ ম্যাক্স মুলারের মতে, ইংরেজি
              ভাষায় ব্যবহৃত ‘religion’ শব্দটির শব্দমূল, লাতিন religio (উচ্চারণ:
              রিলিজিও) শব্দটি মূলত ব্যবহৃত হতো “ঈশ্বর কিংবা ঈশ্বরবর্গের প্রতি
              নিষ্ঠা, পবিত্র বিষয়সমূহ সম্পর্কে সাবধানী চিন্তা ও ভক্তি (যেটিকে
              পরবর্তীতে সিসারো ‘অধ্যাবসায়’ হিসেবে ব্যাক্ত করেন)” অর্থে। ম্যাক্স
              মুলার পৃথিবীর বিভিন্ন প্রান্তের বহু সংস্কৃতিকে ইতিহাসের এই
              সন্ধিক্ষণে অনুরূপ ক্ষমতা-কাঠামোর অধিকারী হিসেবে চিন্হিত করেন,
              যেগুলোর মধ্যে মিশরীয়, পারস্যীয় ও ভারতীয় সংস্কৃতিও অন্তর্ভূক্ত।
              তার মতে আজ যেগুলোকে আদিম ধর্মমত বলা হয়, তৎকালীন মানুষের কাছে
              সেগুলো ছিল কেবলই ‘আইন’ মাত্র।
            </p>
            <p>
              অনেক ভাষাতেই এমন শব্দাবলি রয়েছে যেগুলোকে ‘ধর্ম’ হিসেবে অনুবাদ করা
              যেতে পারে, কিন্তু ভাষাভাষিরা হয়তো ভিন্নভাবে সেগুলো ব্যবহার করতে
              পারেন। আবার কিছু ভাষায় ধর্ম বলতে কোন শব্দই নেই। উদাহরণস্বরূপ,
              সংস্কৃত धर्म (উচ্চারণ: ধার্মা বা dharma) শব্দটিকে কখনও কখনও
              ‘উপাসনা ধর্ম’ হিসেবে ভাষান্তর করা হলেও এর আরেকটি অর্থ ‘আইন’।
              চিরায়ত যুগে দক্ষিণ এশিয়ায় ভক্তির মাধ্যমে প্রায়শ্চিত্ত (penance
              through piety) এবং ধর্মানুষ্ঠানিক ও ব্যবহারিক প্রথাগুলোও আইন
              শিক্ষার অন্তর্ভূক্ত ছিল। প্রথমদিককার মধ্যযুগীয় জাপানে
              ‘সাম্রাজ্যবাদী আইন’ এবং সর্বজনীন বা ‘বুদ্ধের আইনের’ মধ্যে এক ধরনের
              মেলবন্ধন ছিল, যেগুলো পরবর্তীকালে বিচ্ছিন্ন হয়ে ক্ষমতার স্বাধীন
              উৎসে পরিণত হয়।
            </p>
            <p>
              হিব্রু ভাষায় ‘ধর্মের’ কোন অবিকল সমার্থক শব্দ নেই, এবং ইহুদি ধর্ম
              স্পষ্টরূপে ধর্মীয়, জাতীয়তাবাদী, বর্ণীয় কিংবা সাম্প্রদায়িক
              পরিচয়সমূহের মধ্যে কোন পার্থক্য দেখায় না।এই ধর্মের কেন্দ্রীয়
              ধারণাসমূহের মধ্যে ‘halakha’ (উচ্চারণ: হালাকা বা হালাখা) অন্যতম,
              যার অর্থ, ‘পথ’ বা ‘পথে চলা’, যা আবার অনেকসময় ‘আইন’ হিসেবেও অনুবাদ
              করা হয়। এই আইন দ্বারা ধর্মীয় আচার-অনুষ্ঠান, বিশ্বাস ও দৈনন্দিন
              জীবনে এর প্রয়োগ নির্দেশিত হয়।
            </p>
            <h2 id="ধর্মের_সমালোচনার_সংক্ষিপ্ত_ইতিহাস">
              <span id="i-3">ধর্মের সমালোচনার সংক্ষিপ্ত ইতিহাস</span>
            </h2>
            <p>
              খ্রিষ্টপূর্ব ১ম শতাব্দীর বিখ্যাত রোমান কবি টাইটাস লুক্রেশিয়াস
              কেরাস তার রচনা দে রেরুম নাতুরা -তে বলেন:
            </p>
            <blockquote class="wp-block-quote">
              <p>(ইংরেজি)</p>
              <p>
                But ’tis that same religion oftener far / Hath bred the foul
                impieties of men.
              </p>
              <p>(বাংলা)</p>
              <p>
                কিন্তু এই একই ধর্ম প্রায়শই / মানুষের (মনে) নোংরা ধর্মদ্রোহিতার
                জন্ম দেয়।
              </p>
              <p>(লুক্রেতিউস)</p>
            </blockquote>
            <p>
              এপিকুরিয় মতাদর্শের একজন দার্শনিক হিসেবে, লুক্রেশিয়াস বিশ্বাস
              করতেন যে, সমগ্র বিশ্বজগৎ পদার্থ ও শূণ্যস্থানের সমণ্বয়ে গঠিত এবং
              সকল জাগতিক ঘটনাকেই প্রাকৃতিক কারণের ফলাফল হিসেবে অনুধাবন করা
              সম্ভব। এপিকুরাসের ন্যায় লুক্রেশিয়াসও মনে করতেন যে ভয় ও অজ্ঞতা
              থেকেই ধর্ম জন্মলাভ করেছে এবং প্রকৃতিজগৎকে কার্যকারণ সম্পর্কের
              ভিত্তিতে অনুধাবনের মাধ্যমেই মানুষ ধর্মের শেকল থেকে মুক্তি পাবে;
              যদিও, তিনি ঈশ্বরদের অস্তিত্বে বিশ্বাস করতেন। তিনি কখনই ধর্ম কিংবা
              ধর্মসংশ্লিষ্ট কোন বিষয়ের বিরুদ্ধে ছিলেন না; কিন্তু তৎকালীন সমাজের
              প্রথাগত ধর্মসমূহকে তিনি অন্ধবিশ্বাস হিসেবে দেখতেন কারণ তার মতে
              সেগুলো এই শিক্ষা ‍দিতো যে, ঈশ্বরগণও প্রাকৃতিক জগতে হস্তক্ষেপ করে
              থাকেন।
            </p>
            <p>ষোড়শ শতকের শুরুর দিকে নিক্কোলো মাকিয়াভেল্লি বলেন:</p>
            <blockquote class="wp-block-quote">
              <p>(ইংরেজি)</p>
              <p>
                « We Italians are irreligious and corrupt above others… because
                the church and her representatives have set us the worst
                example. »
              </p>
              <p>(বাংলা)</p>
              <p>
                « আমরা ইতালীয়রাই সবার থেকে বেশি অধার্মিক ও দুর্নীতিবাজ… কারণ
                চার্চ এবং তার প্রতিনিধিত্বকারীরা আমাদের জন্য নিকৃষ্ট দৃষ্টান্ত
                স্থাপন করেছে। »
              </p>
              <p>(নিক্কোলো মাকিয়াভেল্লি)</p>
            </blockquote>
            <blockquote class="wp-block-quote">
              <p>
                মাকিয়াভেল্লির দৃষ্টিতে
                <strong
                  >ধর্ম ছিল শুধুই একটি হাতিয়ার, যেটি জনমত নিয়ন্ত্রণে ইচ্ছুক
                  শাসকদের খুব কাজে আসে</strong
                >।
              </p>
            </blockquote>
            <p>
              আঠারো শতকের<strong>
                প্রখ্যাত দার্শনিক ভলতেয়ার ছিলেন একজন শ্বরবাদী এবং একইসাথে ছিলেন
                ধর্মীয় অসহিষ্ণুতার কঠোর সমালোচক</strong
              >। তিনি ‘স্বর্ণনির্মিত গোবৎস’ উপাসনার দায়ে একদল ইহুদি কর্তৃক
              আরেকদল ইহুদিদের হত্যা ও অনুরূপ অন্যান্য ঘটনাবলি সম্পর্কে অভিযোগ
              ব্যক্ত করেন। সেই সাথে তিনি, খ্রিষ্টানদেরও ধর্মীয় মতপার্থক্যের
              কারণে অন্য খ্রিষ্টানদের হত্যা এবং খ্রিষ্ট ধর্ম গ্রহন না করায়
              মার্কিন আদিবাসিদের হত্যা করার জন্য নিন্দা করেন। তিনি দাবি করেন যে,
              প্রকৃতপক্ষে নিহতদের সম্পদ লুঠ করার উদ্দেশ্যেই খ্রিষ্টানদের দ্বারা
              এই সকল হত্যাকান্ড সংঘটিত হয়। ভলতেয়ার মুসলিমদের ধর্মীয়
              অসহিষ্ণুতারও সমালোচনা করেন।
            </p>
            <p>
              এছাড়াও আঠারো শতকের অন্যতম
              <strong
                >প্রোথিতযশা দার্শনিক ও প্রাবন্ধিক ডেভিড হিউম ধর্মের সত্যতার
                সপক্ষে করা উদ্দেশ্যবাদী বা বুদ্ধিদীপ্ত পরিকল্পনা যুক্তির
                সমালোচনা করেন</strong
              >। হিউমের মতে, মহাবিশ্বের সুশৃঙ্খলার কারণ হিসেবে প্রাকৃতিক
              কার্যকারণ সম্পর্কযুক্ত ব্যাখ্যাই অনেক বেশি যৌক্তিক। ধর্মের
              দার্শনিক ভিত্তির অযৌক্তিকতা তুলে ধরা ছিল হিউমের সাহিত্যকর্মের একটি
              গুরুত্বপূর্ণ উদ্দেশ্য।
            </p>
            <p>
              একবিংশ শতাব্দীর শুরুর দিককার সময়ে, নব্য নাস্তিক্যবাদের সমর্থক ও
              ধর্মের কঠোর সমালোচক হিসেবে স্যাম হ্যারিস, ড্যানিয়েল ডেনেট,
              রিচার্ড ডকিন্স, ক্রিস্টোফার হিচেন্স প্রমুখ প্রখ্যাত ব্যক্তির নাম
              বিশেষভাবে উল্লেখযোগ্য।
            </p>
          
          
           
          
          </div>
        
        </article>
      
      </section>
    <!-- Hostory Section Ends  -->

    <PageFooter />
  </main>
</template>

<style>
.hero__title {
  @apply text-4xl font-bold;
}
.hero__des {
  @apply text-xl;
}
</style>
