<template>
  <div class="search-results">
    <div class="search">
      <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" v-model="searchTerm" @input="search" placeholder="Search posts" required />
      <ul v-if="posts.length > 0">
        <li v-for="post in posts" :key="post.id" class="post">
          <nuxt-link :to="`/${post.slug}`" @click.prevent="handlePostClick, hideAside()">
            <h3 class="post-title">{{ post.title.rendered }}</h3>
          </nuxt-link>
        </li>
      </ul>
      <div v-if="!isLoading && posts.length === 0" class="no-results">
        No results found.
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchTerm: '',
      posts: [],
      isLoading: true,
    };
  },
  methods: {
    async search() {
      const response = await fetch(
        `https://www.shongshoy.com/wp-json/wp/v2/posts?search=${this.searchTerm}`
      );
      const data = await response.json();
      this.posts = data.map((post) => ({
        ...post,
        slug: post.slug.replace(/_/g, '-'),
      }));
    },
    clearResults() {
      this.posts = [];
    },
    handlePostClick() {
  this.searchTerm = '';
  this.posts = [];
  const aside = document.querySelector("aside");
  if (aside) {
    aside.classList.add("hidden");
  }
},
    hideAside() {
      const aside = document.querySelector("aside");
      if (aside) {
        aside.classList.add("hidden");
      }
    },
  },
};
</script>


  
  <style scoped>
  .search {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .input {
    margin-bottom: 20px;
  }
  
  .post {
    margin-bottom: 20px;
  }
  
  .post-title {
    margin-bottom: 10px;
  }
  
  .post-excerpt {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .no-results {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  </style>
  