<script>
import SearchComponent from "./SearchComponent.vue";

export default {
  data() {
    return {
      isOpen: false,
    };
  },
  methods: {
    drawer() {
      this.isOpen = !this.isOpen;
    },
  },
  watch: {
    isOpen: {
      immediate: true,
      handler(isOpen) {
        if (process.client) {
          if (isOpen) document.body.style.setProperty("overflow", "hidden");
          else document.body.style.removeProperty("overflow");
        }
      },
    },
  },
  mounted() {
    document.addEventListener("keydown", (e) => {
      if (e.keyCode == 27 && this.isOpen) this.isOpen = false;
    });
  },
  components: { SearchComponent },
};
</script>
<template>
  <div class="header-logo-image m-auto min-h-full">
    <NuxtLink to="/">
      <img
        src="~/assets/images/ss.png"
        alt="সংশয় - চিন্তার মুক্তির আন্দোলন"
        class="absolute object-cover"
    /></NuxtLink>
  </div>
  <div class="md:hidden">
    <button @click="drawer">
      <div
        class="relative flex overflow-hidden items-center justify-center rounded-full w-[50px] h-[50px] transform transition-all bg-cyan-600 ring-0 ring-gray-300 hover:ring-8 group-focus:ring-4 ring-opacity-30 duration-200 shadow-md"
      >
        <div
          class="flex flex-col justify-between w-[20px] h-[20px] transform transition-all duration-300 origin-center overflow-hidden group-focus:-translate-x-1.5 group-focus:rotate-180"
        >
          <div
            class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left group-focus:rotate-[42deg] group-focus:w-2/3 delay-150"
          ></div>
          <div
            class="bg-white h-[2px] w-7 rounded transform transition-all duration-300 group-focus:translate-x-10"
          ></div>
          <div
            class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left group-focus:-rotate-[42deg] group-focus:w-2/3 delay-150"
          ></div>
        </div>
      </div>
    </button>
  </div>

  <!-- Transition -->
  <transition
    enter-class="opacity-0"
    enter-active-class="ease-out transition-medium"
    enter-to-class="opacity-100"
    leave-class="opacity-100"
    leave-active-class="ease-out transition-medium"
    leave-to-class="opacity-0"
  >
    <div
      @keydown.esc="isOpen = false"
      v-show="isOpen"
      class="z-10 fixed inset-0 transition-opacity"
    >
      <div
        @click="isOpen = false"
        class="absolute inset-0 bg-black opacity-50"
        tabindex="0"
      ></div>
    </div>
  </transition>

  <!-- Drawer Menu -->
  <aside
    class="p-5 transform top-0 left-0 w-64 bg-white fixed h-full overflow-auto ease-in-out transition-all duration-300 z-30"
    :class="isOpen ? 'translate-x-0' : '-translate-x-full'"
  >
    <div class="close">
      <button class="absolute top-0 right-0 mt-4 mr-4" @click="isOpen = false">
        <svg
          class="w-6 h-6"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>

    <span @click="isOpen = false" class="flex w-full items-center p-4 border-b">
      <div class="relative h-[103px] w-[226px] shadow-xl">
        <img
          src="~/assets/images/ss.png"
          alt="সংশয় - চিন্তার মুক্তির আন্দোলন"
          class="absolute w-full h-full"
        />
      </div>
    </span>

    <ul class="divide-y font-sans">
      <li>
        <a href="/" @click="isOpen = false" class="my-4 inline-block"
          >মূলপাতা</a
        >
      </li>
      <li>
        <a href="/history" @click="isOpen = false" class="my-4 inline-block"
          >ইতিহাস</a
        >
      </li>
      <li>
        <a href="/archive" @click="isOpen = false" class="my-4 inline-block"
          >আর্কাইভ</a
        >
      </li>
      <li>
        <a href="/categories" @click="isOpen = false" class="my-4 inline-block"
          >ক্যাটাগরি</a
        >
      </li>
      <li>
        <a href="/faq" @click="isOpen = false" class="my-4 inline-block"
          >উত্তর</a
        >
      </li>
      <li>
        <a href="/contact" @click="isOpen = false" class="my-4 inline-block"
          >যোগাযোগ</a
        >
      </li>
      <SearchComponent />
    </ul>

    <div class="follow">
      <p class="italic font-sans text-sm">follow us:</p>
      <div class="social flex space-x-5 mt-4">
        <a href="https://twitter.com/iamasifm">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fab"
            data-icon="twitter"
            class="h-5 w-5 fill-current text-gray-600"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
            ></path>
          </svg>
        </a>
        <a href="https://www.facebook.com/shongshoydotcom">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fab"
            data-icon="facebook-f"
            class="h-5 w-5 fill-current text-gray-600"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              fill="currentColor"
              d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
            ></path>
          </svg>
        </a>

        <a href="https://www.youtube.com/@asif.mohiuddin">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fab"
            data-icon="youtube"
            class="h-5 w-5 fill-current text-gray-600"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
          >
            <path
              fill="currentColor"
              d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </aside>

  <div class="py-5 hidden md:block">
    <nav class="bg-orange-150 text-white border-gray-700">
      <div class="container flex sm:gap-0 sm:justify-between items-center">
        <!-- Navbar -->
        <div class="menuitems-center">
          <ul class="flex space-x-8">
            <li>
              <a href="/" class="active border-b-2 border-blue-500 pb-1"
                >মূলপাতা</a
              >
            </li>
            <li><a href="/history" class="">ইতিহাস</a></li>
            <li><a href="/archive" class="">আর্কাইভ</a></li>
            <li><a href="/categories" class="">ক্যাটাগরি</a></li>
            <li><a href="/faq" class="">উত্তর</a></li>
            <li><a href="/contact" class="">যোগাযোগ</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<style>
ul.nav {
  @apply flex gap-5 items-center justify-end;
}
ul.nav > li > a {
  @apply text-gray-300 hover:text-gray-50;
}
ul.nav > li > a.router-link-active {
  @apply text-primary-400;
}
</style>
